@(providerKey: String)

@main(Messages("ossmeter.oauth.access.denied.title")) {

	<h1>@Messages("ossmeter.oauth.access.denied.title")</h1>
	<p>
		@Messages("ossmeter.oauth.access.denied.explanation")<br/>
	</p>
	<p>
		@* 
			12th Jan 2014, commented out by JW. OAuth not currently supported, and general signup is currently blocked.
		@Messages("ossmeter.oauth.access.denied.alternative") <a href="@routes.Application.signup()">@Messages("ossmeter.oauth.access.denied.alternative.cta")</a>. *@
	</p>
}