<div [@routerTransition]>
    <section>
        <div class="container box">
            <div class="row">
                <div class="col-md-12 center">
                    <img src="assets/images/CROSSMINER_logo_tagline_under.png" alt="CROSSMINER logo" class="logo" width="500px" />
                    <p class="lead">CROSSMINER is an open-source platform for automatically analysing the source code, bug tracking systems,
                        and communication channels of open source software projects.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="banner">
            <div class="container blank">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/search.png" alt="search">
                        <h2>Discover</h2>
                        <p>Search through thousands of open-source software projects to discover those that suit your needs</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/compare.png" alt="compare">
                        <h2>Compare</h2>
                        <p>Explore the differences between similar projects, comparing projects on the metrics that are important
                            to you</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/adopt.png" alt="adopt">
                        <h2>Adopt</h2>
                        <p>Select the project that best fits your requirements and start using it</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/monitor.png" alt="monitor">
                        <h2>Monitor</h2>
                        <p>Monitor adopted open-source software to ensure that it remains active and healthy</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container box">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>What is CROSSMINER?</h2>
                    <!-- <p>CROSSMINER aims to extend the state-of-the-art in the field of automated analysis and measurement of open-source software (OSS) by developing a platform that will support decision makers in the process of discovering, comparing, assessing and monitoring the health, quality, impact and activity of open-source software.</p> -->
                    <p>CROSSMINER computes trustworthy quality indicators of open-source software by performing advanced analysis
                        and integration of information from diverse sources including the project metadata, source code repositories,
                        communication channels and bug tracking systems of OSS projects.</p>
                    <p>CROSSMINER is not another OSS forge but instead it provides a meta-platform for analysing existing OSS
                        projects that are developed in existing OSS forges and foundations such as SourceForge, Google Code,
                        GitHub, Eclipse, Mozilla and Apache.</p>
                    <p>Click below to find out more about CROSSMINER :</p>
                    <p>
                        <a href="https://www.crossminer.org" target="_blank" title="CROSSMINER Official Website"><img src="assets/images/CROSSMINER_logo.png" width="16%"/></a>
                        <a href="https://github.com/crossminer" target="_blank" title="CROSSMINER Github Repository"><img src="assets/images/github.png" width="10%"></a>
                        <a href="https://projects.eclipse.org/projects/technology.scava" target="_blank" title="Eclipse SCAVA"><img src="assets/images/SCAVA Logo.png" width="9%"></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
