<div style="padding-top:20px;">
    <h2>Register project</h2>
    <hr />
    <form [formGroup]="form" role="form" #createProjectForm="ngForm" name="createProjectForm" novalidate
        (ngSubmit)="save()">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="name">Project Name</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name"
                        aria-describedby="name" placeholder="E.g. CROSSMINER" required minlength="1" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" formControlName="description"
                        rows="4" placeholder="E.g." required minlength="1" maxlength="250"></textarea>
                </div>
                <div class="form-group">
                    <label for="homePage">Home Page</label>
                    <input type="text" class="form-control" id="homePage" name="homePage" formControlName="homePage"
                        placeholder="E.g. www.crossminer.org" required minlength="1" maxlength="100">
                </div>
                <div class="form-group">
                    <label for="informationSources">Information Sources</label>
                    <br />
                    <small>Click the button below to add new information sources to the project.</small>
                    <br />
                    <br />
                    <small>Version Control Systems</small>
                    <ul class="pagination">
                        <li>
                            <button type="button" [disabled]="gitBasedExists" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('vcs', 'git')">
                                <span>Git</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" [disabled]="gitExists" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('vcs', 'gitbased')">
                                <span>Documentation Git Based</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('vcs', 'svn')">
                                <span>SVN</span>
                            </button>
                        </li>
                    </ul>
                    <small>Issue Tracking Systems</small>
                    <ul class="pagination">
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('bts', 'bugzilla')">
                                <span>Bugzilla</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('bts', 'sourceforge')">
                                <span>SourceForge</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('bts', 'redmine')">
                                <span>Redmine</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('bts', 'jira')">
                                <span>Jira</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('bts', 'mantis')">
                                <span>Mantis</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('bts', 'bitbucket')">
                                <span>Bitbucket</span>
                            </button>
                        </li>
                    </ul>
                    <small>Communication Channels</small>
                    <ul class="pagination">
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('communication_channels', 'nntp')">
                                <span>NNTP</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('communication_channels', 'irc')">
                                <span>Irc</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('communication_channels', 'sympa')">
                                <span>Sympa Mailing List</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('communication_channels', 'mbox')">
                                <span>Mbox</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('communication_channels', 'eclipseForum')">
                                <span>Eclipse Forum</span>
                            </button>
                        </li>&nbsp;
                        <li>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                (click)="addInformationSource('communication_channels', 'documentation systematic')">
                                <span>Documentation Systematic</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-offset-6 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
                <div formArrayName="vcs">
                    <div *ngFor="let elem of form.get('vcs')['controls'];let i=index;">
                        <div [formGroupName]="i">
                            <div class="card">
                                <div class="card-header">
                                    <label>{{form.get('vcs').value[i].type | uppercase}} Repository</label>
                                    <span class="pull-right clickable close-icon" data-effect="fadeOut"
                                        (click)="removeInformationSource('vcs', i)">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="form-group" [hidden]=true>
                                        <input type="text" class="form-control" id="type" name="type"
                                            formControlName="type">
                                    </div>
                                    <div class="form-group">
                                        <label for="url">URL</label>
                                        <input type="text" class="form-control" id="url" name="url"
                                            formControlName="url">
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>

                <div formArrayName="bts">
                    <div *ngFor="let elem of form.get('bts')['controls'];let i=index;">
                        <div [formGroupName]="i">
                            <div class="card">
                                <div class="card-header">
                                    <label>{{form.get('bts').value[i].type | uppercase}}</label>
                                    <span class="pull-right clickable close-icon" data-effect="fadeOut"
                                        (click)="removeInformationSource('bts', i)">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="form-group" [hidden]=true>
                                        <input type="text" class="form-control" id="type" name="type"
                                            formControlName="type">
                                    </div>
                                    <div class="form-group">
                                        <label for="url">URL</label>
                                        <input type="text" class="form-control" id="url" name="url"
                                            formControlName="url">
                                    </div>
                                    <div *ngIf="form.get('bts').value[i].type === 'bugzilla'">
                                        <div class="form-group">
                                            <label for="product">Product</label>
                                            <input type="text" class="form-control" id="product" name="product"
                                                formControlName="product">
                                        </div>
                                        <div class="form-group">
                                            <label for="component">Component</label>
                                            <input type="text" class="form-control" id="component" name="component"
                                                formControlName="component">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('bts').value[i].type === 'redmine'">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                formControlName="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="project">Project</label>
                                            <input type="text" class="form-control" id="project" name="project"
                                                formControlName="project">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('bts').value[i].type === 'jira'">
                                        <div class="form-group">
                                            <label for="login">Login</label>
                                            <input type="text" class="form-control" id="login" name="login"
                                                formControlName="login">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                formControlName="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="project">Project</label>
                                            <input type="text" class="form-control" id="project" name="project"
                                                formControlName="project">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('bts').value[i].type === 'mantis'">
                                        <div class="form-group">
                                            <label for="token">Token</label>
                                            <input type="text" class="form-control" id="token" name="token"
                                                formControlName="token">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('bts').value[i].type === 'bitbucket'">
                                        <div class="form-group">
                                            <label for="login">Login</label>
                                            <input type="text" class="form-control" id="login" name="login"
                                                formControlName="login">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                formControlName="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>

                <div formArrayName="communication_channels">
                    <div *ngFor="let elem of form.get('communication_channels')['controls'];let i=index;">
                        <div [formGroupName]="i">
                            <div class="card">
                                <div class="card-header">
                                    <label>{{form.get('communication_channels').value[i].type | uppercase}}</label>
                                    <span class="pull-right clickable close-icon" data-effect="fadeOut"
                                        (click)="removeInformationSource('communication_channels', i)">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div *ngIf="form.get('communication_channels').value[i].type === 'nntp'">
                                        <div class="form-group" [hidden]=true>
                                            <input type="text" class="form-control" id="type" name="type"
                                                formControlName="type">
                                        </div>
                                        <div class="form-group">
                                            <label for="url">URL</label>
                                            <input type="text" class="form-control" id="url" name="url"
                                                formControlName="url">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                               formControlName="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="port">Port</label>
                                            <input type="number" class="form-control" id="port" name="port" [value]="119"
                                                formControlName="port" >
                                        </div>
                                        <div class="form-group">
                                            <label for="interval">Interval</label>
                                            <input type="text" class="form-control" id="interval" name="interval"
                                                formControlName="interval">
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                formControlName="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                formControlName="password">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('communication_channels').value[i].type === 'irc'">
                                        <div class="form-group" [hidden]=true>
                                            <input type="text" class="form-control" id="type" name="type"
                                                formControlName="type">
                                        </div>
                                        <div class="form-group">
                                            <label for="url">Url</label>
                                            <input type="text" class="form-control" id="url" name="url"
                                                formControlName="url">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                formControlName="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <input type="text" class="form-control" id="description" name="description"
                                                formControlName="description">
                                        </div>
                                        <div class="form-group">
                                            <label for="compressedFileExtension">Compressed File Extension</label>
                                            <input type="text" class="form-control" id="compressedFileExtension"
                                                name="compressedFileExtension"
                                                formControlName="compressedFileExtension">
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Username <small>(optional)</small></label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                formControlName="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password <small>(optional)</small></label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                formControlName="password">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('communication_channels').value[i].type === 'sympa'">
                                        <div class="form-group" [hidden]=true>
                                            <input type="text" class="form-control" id="type" name="type"
                                                formControlName="type">
                                        </div>
                                        <div class="form-group">
                                            <label for="url">Url</label>
                                            <input type="text" class="form-control" id="url" name="url"
                                                formControlName="url">
                                        </div>
                                        <div class="form-group">
                                            <label for="mailingListName">Mailing List Name</label>
                                            <input type="text" class="form-control" id="mailingListName"
                                                name="mailingListName" formControlName="mailingListName">
                                        </div>
                                        <div class="form-group">
                                            <label for="mailingListDescription">Mailing List Description</label>
                                            <input type="text" class="form-control" id="mailingListDescription"
                                                name="mailingListDescription" formControlName="mailingListDescription">
                                        </div>
                                        <div class="form-group">
                                            <label for="compressedFileExtension">Compressed File Extension</label>
                                            <input type="text" class="form-control" id="compressedFileExtension"
                                                name="compressedFileExtension"
                                                formControlName="compressedFileExtension">
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Username <small>(optional)</small></label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                formControlName="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password <small>(optional)</small></label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                formControlName="password">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('communication_channels').value[i].type === 'mbox'">
                                        <div class="form-group" [hidden]=true>
                                            <input type="text" class="form-control" id="type" name="type"
                                                formControlName="type">
                                        </div>
                                        <div class="form-group">
                                            <label for="url">Url</label>
                                            <input type="text" class="form-control" id="url" name="url"
                                                formControlName="url">
                                        </div>
                                        <div class="form-group">
                                            <label for="mboxName">Mbox Name</label>
                                            <input type="text" class="form-control" id="mboxName" name="mboxName"
                                                formControlName="mboxName">
                                        </div>
                                        <div class="form-group">
                                            <label for="mboxDescription">Mbox Description</label>
                                            <input type="text" class="form-control" id="mboxDescription"
                                                name="mboxDescription" formControlName="mboxDescription">
                                        </div>
                                        <div class="form-group">
                                            <label for="compressedFileExtension">Compressed File Extension</label>
                                            <input type="text" class="form-control" id="compressedFileExtension"
                                                name="compressedFileExtension"
                                                formControlName="compressedFileExtension">
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Username <small>(optional)</small></label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                formControlName="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password <small>(optional)</small></label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                formControlName="password">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('communication_channels').value[i].type === 'eclipseForum'">
                                        <div class="form-group" [hidden]=true>
                                            <input type="text" class="form-control" id="type" name="type"
                                                formControlName="type">
                                        </div>
                                        <div class="form-group">
                                            <label for="forumId">Forum Id</label>
                                            <input type="text" class="form-control" id="forumId" name="forumId"
                                                formControlName="forumId">
                                        </div>
                                        <div class="form-group">
                                            <label for="forumName">Forum Name</label>
                                            <input type="text" class="form-control" id="forumName" name="forumName"
                                                formControlName="forumName">
                                        </div>
                                        <div class="form-group">
                                            <label for="clientId">Client Id</label>
                                            <input type="text" class="form-control" id="clientId" name="clientId"
                                                formControlName="clientId">
                                        </div>
                                        <div class="form-group">
                                            <label for="clientSecret">Client Secret</label>
                                            <input type="text" class="form-control" id="clientSecret"
                                                name="clientSecret" formControlName="clientSecret">
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('communication_channels').value[i].type === 'documentation systematic'">
                                        <div class="form-group">
                                            <label for="loginOption">Login necessary ?</label> <br>
                                            <select name="loginOption" formControlName="loginOption" (click)="toggleSystematicLogin()">
                                                <option [disabled]="noLogin == 'option1'" value="option1">No Login</option>
                                                <option [disabled]="noLogin == '' || noLogin == 'option2'" value="option2">With Login</option>
                                            </select>
                                        </div>
                                        <div class="form-group" [hidden]=true>
                                            <input type="text" class="form-control" id="type" name="type"
                                                formControlName="type">
                                        </div>
                                        <div *ngIf="noLogin == 'option1'">
                                            <div class="form-group">
                                                <label for="url">Url</label>
                                                <input type="text" class="form-control" id="url" name="url"
                                                    formControlName="url">
                                            </div>
                                            <div class="form-group">
                                                <label for="executionFrequency">Execution Frequency</label>
                                                <input type="text" class="form-control" id="executionFrequency"
                                                    name="executionFrequency" formControlName="executionFrequency">
                                            </div>
                                        </div>
                                        <div *ngIf="noLogin == 'option2'">
                                            <div class="form-group">
                                                <label for="url">Url</label>
                                                <input type="text" class="form-control" id="url" name="url"
                                                    formControlName="url">
                                            </div>
                                            <div class="form-group">
                                                <label for="executionFrequency">Execution Frequency</label>
                                                <input type="text" class="form-control" id="executionFrequency"
                                                    name="executionFrequency" formControlName="executionFrequency">
                                            </div>
                                            <div class="form-group">
                                                <label for="loginUrl">Login Url</label>
                                                <input type="text" class="form-control" id="loginUrl" name="loginUrl" formControlName="loginUrl">
                                            </div>
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="username" name="username" formControlName="username">
                                            </div>
                                            <div class="form-group">
                                                <label for="usernameFieldName">Username Field Name</label>
                                                <input type="text" class="form-control" id="usernameFieldName"
                                                    name="usernameFieldName" formControlName="usernameFieldName">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" id="password" name="password" formControlName="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordFieldName">Password Field Name</label>
                                                <input type="text" class="form-control" id="passwordFieldName"
                                                    name="passwordFieldName" formControlName="passwordFieldName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <button type="button" class="btn btn-outline-dark btn-sm" (click)="previousState()">
                <i class="fa fa-ban"></i>&nbsp;
                <span>Cancel</span>
            </button>&nbsp;
            <button type="submit" [disabled]="createProjectForm.form.invalid || isSaving || !infosSouceExist"
                class="btn btn-outline-dark btn-sm">
                <i class="fa fa-save"></i>&nbsp;
                <span>Save</span>
            </button>
        </div>
    </form>
</div>