.block {
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    background-color: #1074B2;
    border-color: #357ebd;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
