@import helper._
@import helper.twitterBootstrap._

@main("Request for invitation submitted", "invitation") {

<section>
<div class="container box">
    <div class="row span6">
        <h3>Thank you for your interest in OSSMETER!</h3> 
        <div class="spacer20"></div>
        <p>Within the next 24 hours we will email  your credentials. Until then you are still able to browse and compare the projects, but won't be able to add new projects or set up notifications.</p>
        <div class="spacer50"></div>
    </div>  
</div>
</section>
}