@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._
@import com.feth.play.module.pa.views.html._

@main(Messages("ossmeter.login.title"),"login") {

<section>
<div class="container box">
  <div class="row">
    <div class="col-md-12">
      <h1>@Messages("ossmeter.login.title")</h1>
    </div>
  </div>

  <div id="login" class="row">

    <div class="col-md-4">
      @* Display proprietary login form *@
    	@helper.form(routes.Application.doLogin) {

        @if(loginForm.hasGlobalErrors) {
          <p class="error">
            <span class="label label-important">@loginForm.globalError.message</span>
          </p>
        }

        @_emailPartial(loginForm)

        @inputPassword(
          loginForm("password"),
          '_showConstraints -> false,
          '_label -> Messages("ossmeter.login.password.placeholder")
        )

        <input type="submit" value="@Messages("ossmeter.login.now")" class="btn btn-primary"><br/>
        <br/>
        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("ossmeter.login.forgot.password")</a>
    	}
    </div>
    @*<div class="col-md-4">
      @Messages("ossmeter.login.oauth")
      @_providerPartial(skipCurrent=false)
      @providerAvailable("basic") { available: Boolean =>
          @if(available) {
              <br>
              <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.authenticate("basic")">@Messages("ossmeter.login.basic")</a>
          }
      }
    </div>*@
  </div>
</div>
</section>
}
