@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
  <head>
    <title>@title</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="OSSMETER: Automated Measurement and Analysis of Open-Source Software">
    <meta name="author" content="The OSSMETER Team: github.com/ossmeter">
    
    <link rel="icon" type="image/png" href="@routes.Assets.at("icons/favicon.png")">

    <!-- Styles -->    
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,800' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/jquery.gridster.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/jquery-ui.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/jquery-ui.structure.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/nav.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/metvis.0.1.0.min.css")" rel="stylesheet">
    
    <script src="@routes.Assets.at("js/jquery-1.9.1.js")"></script>
    <script src="@routes.Assets.at("js/jquery-ui.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.gridster.min.js")"></script>
    <script type="text/javascript" src="@routes.Application.jsRoutes()"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.cookie.js")"></script>
    <script src="@routes.Assets.at("js/metvis.0.1.0.js")"></script>
  </head>

  <body>
    <nav class="navbar navbar-static-top">
      <div class="container box blank clearfix">
          <div class="navbar-header">
            <a class="brand" href="@routes.Application.index()"><img src="@routes.Assets.at("img/osslogo.png")" style="width:60px;" alt="OSSMETER" /></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                  <li class="@("active".when(nav == "")) hvr-underline-from-center"><a href="@routes.Application.index()">@Messages("ossmeter.navigation.home")</a></li>
                  <li class="@("active".when(nav == "projects")) hvr-underline-from-center"><a href="@routes.Projects.projects()">@Messages("ossmeter.navigation.projects")</a></li>
                  <li class="@("active".when(nav == "")) hvr-underline-from-center"><a href="@routes.Application.compare()">@Messages("ossmeter.navigation.compare")</a></li>
                  <li class="@("active".when(nav == "")) hvr-underline-from-center"><a href="@routes.News.index()">News</a></li>
                  <!-- <li class="@("active".when(nav == ""))"><a href="#">API</a></li> -->
                  @restrict(la(as("admin"))) {
                    <li class="@("active".when(nav == "admin")) hvr-underline-from-center"><a href="@routes.Admin.index()">@Messages("ossmeter.navigation.admin")</a></li>
                  }
                  @*@subjectPresent() {
                    
                  }*@
            </ul>
          <div class="btn-group pull-right">
            <ul class="nav navbar-nav navbar-right">
                @subjectPresentOr() {
                  @defining(Application.getLocalUser(session())) { user =>
                  <li class="dropdown">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> @if(user.getName()=="null"){My Account}else{@user.getName()}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="">
                    <li><a href="@routes.Application.profile()">@Messages("ossmeter.navigation.profile")</a></li>
                    <li><a href="https://github.com/ossmeter/ossmeter/issues">Provide feedback</a></li>
                    <li class="divider"></li>
                    <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("ossmeter.navigation.logout")</a></li>
                  </ul>
                  </li>
                  }
                }{

                  <li class="@("active".when(nav == "invitation"))"><a href="@routes.Invitation.requestInvitation()">@Messages("ossmeter.navigation.invitation")</a></li>
                  <li><a href="@routes.Application.login()" class="@("disabled".when(nav == "login"))">@Messages("ossmeter.navigation.login")</a></li>
                }
              </ul>
            </div><!--/.pull-right -->
          </div> <!-- navbar-collapse-->
        
          </div><!--  container clearfix -->
    </nav>

	    @if(flash.contains(Application.FLASH_ERROR_KEY)) {
	      <div class="alert alert-danger center">
          <div class="container">
	      	  @flash().get(Application.FLASH_ERROR_KEY)
          </div>
	      </div>
	    }
	    @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
	      <div class="alert alert-success center">
          <div class="container">
	      	  @flash().get(Application.FLASH_MESSAGE_KEY)
          </div>
	      </div>
	    }
		@content

<nav id="compare-bar" class="navbar navbar-default navbar-fixed-bottom comparison" style="display:none" role="navigation">
  <div class="container">
    
    
    <div class="row">
        <div class="col-md-2">
        <span class="pull-left glyphicon glyphicon-remove" style="cursor:pointer" onclick="closeCompareBar()">&nbsp;close</span>
          <h3>To compare:</h3>
          <a href="@routes.Application.compare" class="btn btn-default">Compare Now</a>
        </div>
        <div class="col-md-8">
          <div class="row" id="compare-bar-projects"></div>          
        </div>
        <div class="col-md-2 small">
          <div class="panel panel-default">
            <div class="panel-body" id="compare-bar-hint">
              <strong>Tip:</strong> You can compare up to five projects at any time. Click the compare button when you're ready to compare.
              </div>
          </div>
        </div>
    </div>
  </div>
</nav>

    <footer>
      <div class="container box blank">
      <p>OSSMETER is funded by the European Commission under the Seventh (FP7) Framework Programme for Research and Technological Development.</p>
        <div class="row">
          <div class="col-md-6">
            <p>Project details:<br/>
            <strong>Grant agreement number:</strong> 318736<br/>
            <strong>Project start date:</strong> 01/10/2012<br/>
            <strong>Project duration:</strong> 30 months</p>
          </div>
          <div class="col-md-6">
            <p>Contact details: <br/>
            <strong>Scott Hansen:</strong> s.hansen [at] opengroup [dot] org<br/>
            <strong>Dimitris Kolovos:</strong> dimitris [dot] kolovos [at] york [dot] ac [dot] uk<br/>
            <strong>Twitter:</strong> <a href="https://www.twitter.com/ossmeter">@@ossmeter</a></p>
          </div>
        </div>
        <p>&copy; 2015 OSSMETER. Licensed under the Eclipse Public License, Version 1.0. View details <a href="https://www.eclipse.org/legal/epl-v10.html">here</a>.</p>
        <p>Hosted by <a href="http://www.york.ac.uk">The University of York</a>. <a href="http://www.york.ac.uk/about/legal-statements/">Disclaimer</a></p>
        <p>
        <small><a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Twitter Bootstrap</a> &middot; Provider icons by <a href="https://github.com/paulrobertlloyd/socialmediaicons/" target="_blank">Paul Robert Lloyd</a></small></p>
        </div>
      </footer>
	
	<!-- Scripts -->
  <script src="@routes.Assets.at("js/app.js")"></script>
	<script src="@routes.Application.jsRoutes" defer="defer"></script>
    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
    function getApi() {
      return "/api/";//"@routes.Application.api("").absoluteURL()";
    }
    </script>
  </body>
</html>
