<div>
  <div class="page-header">
    <h2>Projects</h2>
    <div class="btn-group" role="group" style="float: right;margin-top: -40px;" >
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/project/import/']">Import Project</button>
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/project/create/']">Create Project</button>
    </div>
    <hr/>
  </div>
  <div class="card-columns">
    <div *ngFor="let project of projectList" class="card text-white bg-secondary mb-3">
      <div class="card-header overflow-guard" style="padding: 0.5rem;">
        <h4 style="margin: 0px;" class="card-title">{{project.name}}</h4>
      </div>
      <div class="card-body worker-card-body">
        <div class="row">
          <div class="col-4">
            <b>Status :</b>
          </div>
          <div class="col-8">
            Up To Date
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <b>URL :</b>
          </div>
          <div class="col-8">
              <a href="{{project?.html_url}}">{{project?.html_url}}</a>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-light btn-sm" style="float: right;margin-bottom: 10px;" [routerLink]="['/project/configure/', project.shortName]">Configure</button>
      </div>
    </div>
  </div>
</div>