@(localUser: model.User = null, eForm: Form[_])

@import com.feth.play.module.pa.views.html._
@import helper._

@main(Messages("ossmeter.profile.title"),"profile") {

<section>
<div class="container box">

    <h1>@Messages("ossmeter.profile.title")</h1>

    @helper.form(routes.Account.createEventGroup, 'class->"form-project") {
    <h2>Create new event group</h2>
    <p>This is really just for testing purposes only. </p>
    <fieldset>
            <div class="form-group">
              <label class="form-label">Group name: </label>
              <input class="form-control" type="text" name="name" placeholder="Group name" value="@eForm("name").value">
            </div>
     </fieldset>
        
     <div class="actions">
         <input type="submit" value="Create group" class="btn btn-success"> or
         <a href="@routes.Application.profile" class="btn btn-danger">Cancel</a>
     </div>
 }
 </div>
 </section>
    
}
