<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.scava.plugin.eclipse.handlers.MetricHandler"
            commandId="org.eclipse.scava.plugin.commands.metricinterface">
      </handler>
      <handler
            class="org.eclipse.scava.plugin.eclipse.handlers.LibrarySearchHandler"
            commandId="org.eclipse.scava.plugin.commands.librarysearch">
         <activeWhen>
             <reference
                   definitionId="org.eclipse.scava.plugin.definitions.librarysearch.enabled">
             </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.scava.plugin.eclipse.handlers.CodeRecommendationHandler"
            commandId="org.eclipse.scava.plugin.commands.coderecommendation">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.enabled">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.scava.plugin.eclipse.handlers.FocusApiCallRecommendationHandler"
            commandId="org.eclipse.scava.plugin.commands.focus.apicallrecommendation">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.enabled">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.scava.plugin.eclipse.handlers.FocusCodeSnippetRecommendationHandler"
            commandId="org.eclipse.scava.plugin.commands.focus.codesnippetrecommendation">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.enabled">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.scava.plugin.eclipse.handlers.ApiDocumentationHandler"
            commandId="org.eclipse.scava.plugin.commands.apidocumentation">
            <activeWhen>
               <reference
                     definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.enabled">
               </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.scava.plugin.eclipse.handlers.ProjectSearchHandler"
            commandId="org.eclipse.scava.plugin.commands.projectsearch">
      </handler>
      <handler
            class="org.eclipse.scava.plugin.eclipse.handlers.LibraryVersionUpdaterHandler"
            commandId="org.eclipse.scava.plugin.commands.libraryversionupdater">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.scava.plugin.definitions.libraryversionupdater.enabled">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.scava.plugin.menus.scava"
               label="CROSSMINER"
               mnemonic="C">
            <command
                  commandId="org.eclipse.scava.plugin.commands.metricinterface"
                  label="Metric Interface"
                  mnemonic="M"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.librarysearch"
                  label="Search libraries for this project"
                  icon="icons/features/crossminer_library_search_16x16.png"
                  mnemonic="L"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.librarysearch.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.libraryversionupdater"
                  label="Search updates for libraries"
                  icon="icons/features/new_library_available_16x16.png"
                  mnemonic="u"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.libraryversionupdater.enabled">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.coderecommendation"
                  icon="icons/features/crossminer_code_recommendation_16x16.png"
                  label="Code recommendation for selected code chunk"
                  mnemonic="C"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.focus.apicallrecommendation"
                  icon="icons/features/crossminer_focus_api_call_recommendation_16x16.png"
                  label="FOCUS API Call recommendation"
                  mnemonic="F"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.focus.codesnippetrecommendation"
                  icon="icons/features/crossminer_focus_code_snippet_recommendation_16x16.png"
                  label="FOCUS Code Snippet recommendation"
                  mnemonic="S"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.apidocumentation"
                  icon="icons/features/crossminer_code_api_recommend_16x16.png"
                  label="API Documentation and Q&amp;&amp;A posts for selected code chunk"
                  mnemonic="A"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.projectsearch"
                  icon="icons/features/crossminer_project_search_16x16.png"
                  label="Project search"
                  mnemonic="P">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/features/crossminer_icon_01_16x16.png"
               id="org.eclipse.scava.plugin.popups.any"
               label="CROSSMINER"
               mnemonic="C">
            <command
                  commandId="org.eclipse.scava.plugin.commands.coderecommendation"
                  icon="icons/features/crossminer_code_recommendation_16x16.png"
                  label="Request code recommendation"
                  mnemonic="c"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.focus.apicallrecommendation"
                  icon="icons/features/crossminer_focus_api_call_recommendation_16x16.png"
                  label="Request FOCUS API Call recommendation"
                  mnemonic="F"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.focus.codesnippetrecommendation"
                  icon="icons/features/crossminer_focus_code_snippet_recommendation_16x16.png"
                  label="Request FOCUS Code Snippet recommendation"
                  mnemonic="S"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.apidocumentation"
                  icon="icons/features/crossminer_code_api_recommend_16x16.png"
                  label="Request API documentation and Q&amp;&amp;A posts"
                  mnemonic="d"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.librarysearch"
                  icon="icons/features/crossminer_library_search_16x16.png"
                  label="Search libraries for this project"
                  mnemonic="l"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.librarysearch.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.libraryversionupdater"
                  icon="icons/features/new_library_available_16x16.png"
                  label="Search updates for libraries"
                  mnemonic="u"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.libraryversionupdater.enabled">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.projectsearch"
                  icon="icons/features/crossminer_project_search_16x16.png"
                  label="Project search"
                  mnemonic="P">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?endof=group.edi">
         <menu
               icon="icons/features/crossminer_icon_01_16x16.png"
               id="org.eclipse.scava.plugin.popups.packageexplorer"
               label="CROSSMINER"
               mnemonic="C">
            <command
                  commandId="org.eclipse.scava.plugin.commands.librarysearch"
                  icon="icons/features/crossminer_library_search_16x16.png"
                  label="Search libraries for this project"
                  mnemonic="l"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.librarysearch.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.libraryversionupdater"
                  icon="icons/features/new_library_available_16x16.png"
                  label="Search updates for libraries"
                  mnemonic="u"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.libraryversionupdater.enabled">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.projectsearch"
                  icon="icons/features/crossminer_project_search_16x16.png"
                  label="Project search"
                  mnemonic="P">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.scava.plugin.toolbars.scava"
               label="CROSSMINER">
            <command
                  commandId="org.eclipse.scava.plugin.commands.librarysearch"
                  icon="icons/features/crossminer_library_search_16x16.png"
                  label="Library search"
                  mnemonic="L"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.librarysearch.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.libraryversionupdater"
                  icon="icons/features/new_library_available_16x16.png"
                  label="Library version updater"
                  mnemonic="u"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.libraryversionupdater.enabled">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.coderecommendation"
                  icon="icons/features/crossminer_code_recommendation_16x16.png"
                  label="Code recommendation for selected code chunk"
                  mnemonic="C"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.focus.apicallrecommendation"
                  icon="icons/features/crossminer_focus_api_call_recommendation_16x16.png"
                  label="FOCUS API Call recommendation"
                  mnemonic="F"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.focus.codesnippetrecommendation"
                  icon="icons/features/crossminer_focus_code_snippet_recommendation_16x16.png"
                  label="FOCUS Code Snippet recommendation"
                  mnemonic="S"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.apidocumentation"
                  icon="icons/features/crossminer_code_api_recommend_16x16.png"
                  label="API documentation and  Q&amp;&amp;A posts for selected code chunk"
                  mnemonic="A"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.visible">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.projectsearch"
                  icon="icons/features/crossminer_project_search_16x16.png"
                  label="Project search"
                  mnemonic="P">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="org.eclipse.scava.plugin.markers.sourcecodehighlight"
         name="Source Code Highlight"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         id="org.eclipse.scava.plugin.markers.apimigrationdetection"
         name="API migration code element"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="org.eclipse.scava.plugin.markers.apimigrationdetection.detectiondata">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.scava.plugin.annotations.sourcecodehighlight"
            colorPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.color"
            colorPreferenceValue="255,108,211"
            contributesToHeader="true"
            highlightPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.highlight"
            highlightPreferenceValue="true"
            icon="icons/icon-16-white.png"
            includeOnPreferencePage="true"
            label="CROSSMINER Source Code Highlight"
            overviewRulerPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="10000"
            quickFixIcon="icons/icon-16-white.png"
            showInNextPrevDropdownToolbarActionKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.nextprev"
            textPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.eclipse.scava.plugin.annotations.apimigrationdetection"
            colorPreferenceKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.color"
            colorPreferenceValue="255,108,211"
            contributesToHeader="true"
            highlightPreferenceKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.highlight"
            highlightPreferenceValue="true"
            icon="icons/icon-16-white.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.gotonext"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.gotoprevious"
            label="CROSSMINER API Migration Detection"
            overviewRulerPreferenceKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="10000"
            quickFixIcon="icons/icon-16-white.png"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.nextprev"
            textPreferenceKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.text"
            textPreferenceValue="true"
            textStylePreferenceKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.textstyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.eclipse.scava.plugin.annotations.apimigrationdetection.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.eclipse.scava.plugin.markers.sourcecodehighlight"
            name="org.eclipse.scava.plugin.annotations.sourcecodehighlight">
      </type>
      <type
            markerType="org.eclipse.scava.plugin.markers.apimigrationdetection"
            name="org.eclipse.scava.plugin.annotations.apimigrationdetection">
      </type>
      </extension>

  <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.eclipse.scava.plugin.eclipse.decorator.CodeHighlightDecorator"
           icon="icons/icon-16-white.png"
           id="org.eclipse.scava.plugin.decorators.sourcecodehighlight.namedmember"
           label="CROSSMINER Source Code Highlight Decorator"
           lightweight="true"
           location="TOP_LEFT"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.jdt.internal.core.NamedMember">
           </objectClass>
        </enablement>
     </decorator>
     <decorator
           adaptable="true"
           class="org.eclipse.scava.plugin.eclipse.decorator.CodeHighlightDecorator"
           icon="icons/icon-16-white.png"
           id="org.eclipse.scava.plugin.decorators.sourcecodehighlight.iresource"
           label="CROSSMINER Source Code Highlight Decorator"
           lightweight="true"
           location="TOP_LEFT"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.core.resources.IResource">
           </objectClass>
        </enablement>
     </decorator>
     <decorator
           adaptable="true"
           class="org.eclipse.scava.plugin.eclipse.decorator.LibraryUpdateAvailableDecorator"
           id="org.eclipse.scava.plugin.decorators.libraryupdate.available"
           label="CROSSMINER Library Update Available"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.core.resources.IProject">
           </objectClass>
        </enablement>
     </decorator>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.eclipse.scava.plugin.preferences.General"
           id="org.eclipse.scava.plugin.preferencespages.general"
           name="CROSSMINER">
     </page>
     <page
           category="org.eclipse.scava.plugin.preferencespages.general"
           class="org.eclipse.scava.plugin.preferences.Remote"
           id="org.eclipse.scava.plugin.preferencespages.remote"
           name="Remote settings">
     </page>
     <page
           category="org.eclipse.scava.plugin.preferencespages.general"
           class="org.eclipse.scava.plugin.preferences.Database"
           id="org.eclipse.scava.plugin.preferencespages.database"
           name="Database">
     </page>
     <page
           category="org.eclipse.scava.plugin.preferencespages.general"
           class="org.eclipse.scava.plugin.preferences.UserActivityEvents"
           id="org.eclipse.scava.plugin.preferencespages.useractivityevents"
           name="User activity events">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.eclipse.scava.plugin.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           allowMultiple="false"
           class="org.eclipse.scava.plugin.coderecommendation.CodeRecommendationView"
           icon="icons/features/crossminer_code_recommendation_16x16.png"
           id="org.eclipse.scava.plugin.coderecommendation.CodeRecommendationView"
           name="Code Recommendation"
           restorable="false">
     </view>
     <view
           allowMultiple="false"
           class="org.eclipse.scava.plugin.apidocumentation.ApiDocumentationView"
           icon="icons/features/crossminer_code_api_recommend_16x16.png"
           id="org.eclipse.scava.plugin.apidocumentation.ApiDocumentation"
           name="API documentation and Q&amp;A posts"
           restorable="false">
     </view>
     <view
           allowMultiple="false"
           class="org.eclipse.scava.plugin.focus.apicall.FocusApiCallRecommendationView"
           icon="icons/features/crossminer_focus_api_call_recommendation_16x16.png"
           id="org.eclipse.scava.plugin.focus.apicallrecommendation.FocusRecommendation"
           name="FOCUS API Call Recommendation"
           restorable="false">
     </view>
     <view
           allowMultiple="false"
           class="org.eclipse.scava.plugin.focus.codesnippet.FocusCodeSnippetRecommendationView"
           icon="icons/features/crossminer_focus_code_snippet_recommendation_16x16.png"
           id="org.eclipse.scava.plugin.focus.codesnippetrecommendation.FocusRecommendation"
           name="FOCUS Code Snippet Recommendation"
           restorable="false">
     </view>
     <view
           allowMultiple="false"
           class="org.eclipse.scava.plugin.libraryversions.apimigration.ApiMigrationCenterView"
           icon="icons/bulb.png"
           id="org.eclipse.scava.plugin.apimigration.ApiMigration"
           name="API Migration"
           restorable="false">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.scava.plugin.commands.category"
           id="org.eclipse.scava.plugin.commands.coderecommendation"
           name="Code Recommendation">
     </command>
     <command
           categoryId="org.eclipse.scava.plugin.commands.category"
           id="org.eclipse.scava.plugin.commands.focus.apicallrecommendation"
           name="FOCUS API Call Recommendation">
     </command>
     <command
           categoryId="org.eclipse.scava.plugin.commands.category"
           id="org.eclipse.scava.plugin.commands.focus.codesnippetrecommendation"
           name="FOCUS Code Snippet Recommendation">
     </command>
     <command
           categoryId="org.eclipse.scava.plugin.commands.category"
           id="org.eclipse.scava.plugin.commands.metricinterface"
           name="Open Metric Interface">
     </command>
     <command
           categoryId="org.eclipse.scava.plugin.commands.category"
           id="org.eclipse.scava.plugin.commands.librarysearch"
           name="Open Library search">
     </command>
     <command
           categoryId="org.eclipse.scava.plugin.commands.category"
           id="org.eclipse.scava.plugin.commands.apidocumentation"
           name="API Documentation and Q&amp;&amp;A posts">
     </command>
     <category
           description="CROSSMINER related commands"
           id="org.eclipse.scava.plugin.commands.category"
           name="CROSSMINER">
     </category>
     <command
           categoryId="org.eclipse.scava.plugin.commands.category"
           id="org.eclipse.scava.plugin.commands.projectsearch"
           name="Open project search">
     </command>
     <command
           categoryId="org.eclipse.scava.plugin.commands.category"
           id="org.eclipse.scava.plugin.commands.libraryversionupdater"
           name="Open Library Version Updater">
     </command>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.eclipse.scava.plugin.eclipse.propertytester.TextSelectionTester"
           id="org.eclipse.scava.plugin.propertytesters.TextSelectionTester"
           namespace="org.eclipse.scava.plugin.testers.textselection"
           properties="nonEmpty"
           type="org.eclipse.jface.text.ITextSelection">
     </propertyTester>
     <propertyTester
           class="org.eclipse.scava.plugin.eclipse.propertytester.ResourceTester"
           id="org.eclipse.scava.plugin.propertytesters.MavenProjectTester"
           namespace="org.eclipse.scava.plugin.testers.resource"
           properties="hasPom,print"
           type="java.lang.Object">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.eclipse.scava.plugin.definitions.editor.active.java">
        <and>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.jdt.ui.CompilationUnitEditor">
              </equals>
           </with>
           <with
                 variable="activePartId">
              <equals
                    value="org.eclipse.jdt.ui.CompilationUnitEditor">
              </equals>
           </with>
        </and>
     </definition>
     <definition
           id="org.eclipse.scava.plugin.definitions.libraryversionupdater.enabled">
        <and>
           <reference
                 definitionId="org.eclipse.scava.plugin.definitions.libraryversionupdater.visible">
           </reference>
           <test
                 property="org.eclipse.scava.plugin.testers.resource.hasPom"
                 value="true">
           </test>
        </and>
     </definition>
     <definition
           id="org.eclipse.scava.plugin.definitions.libraryversionupdater.visible">
       <and>
   		<count
             value="1">
       </count>
       <iterate
             ifEmpty="false"
             operator="and">
          <or>
             <instanceof
                   value="org.eclipse.core.resources.IResource">
             </instanceof>
             <instanceof
                   value="org.eclipse.jdt.core.IJavaElement">
             </instanceof>
             <instanceof
                   value="org.eclipse.jdt.internal.ui.packageview.PackageFragmentRootContainer">
             </instanceof>
          </or>
       </iterate>
       </and>
     </definition>
     <definition
           id="org.eclipse.scava.plugin.definitions.librarysearch.enabled">
        <and>
           <reference
                 definitionId="org.eclipse.scava.plugin.definitions.librarysearch.visible">
           </reference>
           <test
                 property="org.eclipse.scava.plugin.testers.resource.hasPom"
                 value="true">
           </test>
        </and>
     </definition>
     <definition
           id="org.eclipse.scava.plugin.definitions.librarysearch.visible">
       <and>
   		<count
             value="1">
       </count>
       <iterate
             ifEmpty="false"
             operator="and">
          <or>
             <instanceof
                   value="org.eclipse.core.resources.IResource">
             </instanceof>
             <instanceof
                   value="org.eclipse.jdt.core.IJavaElement">
             </instanceof>
             <instanceof
                   value="org.eclipse.jdt.internal.ui.packageview.PackageFragmentRootContainer">
             </instanceof>
          </or>
       </iterate>
       </and>
     </definition>
     <definition
           id="org.eclipse.scava.plugin.definitions.sourcecodebased.enabled">
        <and>
           <reference
                 definitionId="org.eclipse.scava.plugin.definitions.sourcecodebased.visible">
           </reference>
           <with
                 variable="selection">
              <adapt
                    type="org.eclipse.jface.text.ITextSelection">
                 <test
                       property="org.eclipse.scava.plugin.testers.textselection.nonEmpty"
                       value="true">
                 </test>
              </adapt>
           </with>
        </and>
     </definition>
     <definition
           id="org.eclipse.scava.plugin.definitions.sourcecodebased.visible">
        <or>
           <reference
                 definitionId="org.eclipse.scava.plugin.definitions.editor.active.java">
           </reference>
        </or>
     </definition>
     <definition
           id="org.eclipse.scava.plugin.definitions.javaeditorbased.enabled">
        <or>
           <reference
                 definitionId="org.eclipse.scava.plugin.definitions.javaeditorbased.visible">
           </reference>
        </or>
     </definition>
     <definition
           id="org.eclipse.scava.plugin.definitions.javaeditorbased.visible">
        <or>
           <reference
                 definitionId="org.eclipse.scava.plugin.definitions.editor.active.java">
           </reference>
        </or>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.eclipse.scava.plugin.commands.coderecommendation"
           contextId="org.eclipse.jdt.ui.javaEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M2+X C">
     </key>
     <key
           commandId="org.eclipse.scava.plugin.commands.focus.apicallrecommendation"
           contextId="org.eclipse.jdt.ui.javaEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M2+X F">
     </key>
     <key
           commandId="org.eclipse.scava.plugin.commands.focus.codesnippetrecommendation"
           contextId="org.eclipse.jdt.ui.javaEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M2+X S">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           category="org.eclipse.scava.plugin.propertypages.main"
           class="org.eclipse.scava.plugin.properties.ProjectID"
           id="org.eclipse.scava.plugin.propertypages.projectid"
           name="Project ID">
        <enabledWhen>
           <instanceof
                 value="org.eclipse.jdt.core.IJavaProject">
           </instanceof></enabledWhen>
     </page>
     <page
           class="org.eclipse.scava.plugin.properties.Main"
           id="org.eclipse.scava.plugin.propertypages.main"
           name="CROSSMINER">
        <enabledWhen>
           <instanceof
                 value="org.eclipse.jdt.core.IJavaProject">
           </instanceof></enabledWhen>
     </page>
     <page
           category="org.eclipse.scava.plugin.propertypages.main"
           class="org.eclipse.scava.plugin.properties.LibraryUpdateVersionRules"
           id="org.eclipse.scava.plugin.propertypages.libraryupdateversionrules"
           name="Library update version rules">
        <enabledWhen>
           <instanceof
                 value="org.eclipse.jdt.core.IJavaProject">
           </instanceof>
        </enabledWhen>
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.eclipse.scava.plugin.eclipse.startup.Startup">
     </startup>
  </extension>
  <extension
        point="org.eclipse.ui.ide.markerResolution">
     <markerResolutionGenerator
           class="org.eclipse.scava.plugin.eclipse.markerresolution.apimigration.ApiMigrationDetectionMarkerResolutionGenerator"
           markerType="org.eclipse.scava.plugin.markers.apimigrationdetection">
     </markerResolutionGenerator>
  </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="CrossminerToc.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
