<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  



<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.scava.metricprovider.trans.committers.model.ProjectCommitters"/>
    <class name="org.eclipse.scava.metricprovider.trans.committers.model.Committer"/>
  </extension>
<extension
      point="org.eclipse.scava.platform.metricprovider">
   <metricProvider
         provider="org.eclipse.scava.metricprovider.trans.committers.CommittersMetricProvider">
   </metricProvider>
</extension>
</plugin>
