# Project-wide .gitignore

# Individual components may configure their own ignore
# policy in the respective subdirectories

# Eclipse
.metadata
bin/
local.properties
.settings/

# Maven
target/


crossflow/org\.eclipse\.scava\.crossflow\.examples/org\.eclipse\.scava\.crossflow\.examples-with-dependencies\.jar
crossflow/org\.eclipse\.scava\.crossflow\.tests/crossflow-cache/

crossflow/org\.eclipse\.scava\.crossflow\.tests/activemq-data/

crossflow/org\.eclipse\.scava\.crossflow\.tests/csvs/AdditionResultsCsvSink\.csv

crossflow/org\.eclipse\.scava\.crossflow\.restmule\.client\.github/resources/githubprivate\.properties
