<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.scava.metricprovider.trans.dailycommits.model.DailyCommits"/>
    <class name="org.eclipse.scava.metricprovider.trans.dailycommits.model.Day"/>
  </extension>
<extension
      point="org.eclipse.scava.platform.metricprovider">
   <metricProvider
         provider="org.eclipse.scava.metricprovider.trans.dailycommits.DailyCommitsMetricProvider">
   </metricProvider>
</extension>
</plugin>
