/*
.example-container {
    height: 500px;
    overflow: auto;
}
*/
.mat-table {
    width: 100%;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.mat-cell {
    padding-right: 24px;
}