<div style="padding-top:20px;">
    <div class="page-header">
        <h2>Update Analysis Task</h2>
        <hr/>
    </div>

    <div>
        <form name="updateTaskForm" role="form" novalidate (ngSubmit)="save()" #updateTaskForm="ngForm">
            <div>
                <div class="col-md-4 form-group">
                    <label class="form-control-label">Label name</label>
                    <input type="text" class="form-control" name="label" [(ngModel)]="executionTask.label" #labelInput="ngModel" required minlength="1"
                        maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="labelInput.dirty && labelInput.invalid">
                        <small class="form-text text-danger" *ngIf="labelInput.errors.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="labelInput.errors.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="labelInput.errors.pattern">
                            This field can only contain letters, digits and e-mail addresses.
                        </small>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="form-control-label" for="type">Task type</label>
                    <select class="form-control" id="type" name="type" placeholder="Type Name" [(ngModel)]="executionTask.type">
                        <option value="SINGLE_EXECUTION">Single Execution</option>
                        <option value="DAILY_EXECUTION">Daily Execution</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="form-control-label">Start date</label>
                    <mat-form-field>
                        <input matInput name="startDate" [(ngModel)]="startDate" [max]="maxStartDate" [matDatepicker]="startDateInput">
                        <mat-datepicker-toggle matSuffix [for]="startDateInput"></mat-datepicker-toggle>
                        <mat-datepicker #startDateInput></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4 form-group">
                    <label class="form-control-label">End date</label>
                    <mat-form-field>
                        <input matInput [disabled]="executionTask.type=='DAILY_EXECUTION'" name="startDateInput" [(ngModel)]="endDate" 
                            [min]="executionTask.startDate" [max]="maxEndDate" [matDatepicker]="endDateInput">
                        <mat-datepicker-toggle matSuffix [for]="endDateInput"></mat-datepicker-toggle>
                        <mat-datepicker #endDateInput></mat-datepicker>
                    </mat-form-field>
                </div>
                
                <div class="col-md-12 form-group">
                    <label class="form-control-label">Metric Providers</label>
                    <br/>
                    <mat-radio-group name="toto" class="example-radio-group" [(ngModel)]="mpoption">
                            <mat-radio-button value="mpoption-all" class="example-radio-button" (change)="$event ? masterToggle() : null">
                                All metrics
                            </mat-radio-button>
                            <br/>
                            <mat-radio-button value="mpoption-selected" class="example-radio-button" (change)="$event && isAllSelected() ? masterToggle() : null">
                                Choose some metrics
                             </mat-radio-button>
                        </mat-radio-group>

                        <div *ngIf="mpoption == 'mpoption-selected'">
                        <div class="example-header">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? this.selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="kind">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Kind </th>
                                    <td mat-cell *matCellDef="let element"> {{element.kind}} </td>
                                </ng-container>

                                <ng-container matColumnDef="label">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
                                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                                </ng-container>

                                <ng-container matColumnDef="dependOf">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Depend Of </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-list>
                                            <mat-list-item *ngFor="let d of element.dependOf">{{d.label}}</mat-list-item>
                                        </mat-list>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="previousState()">
                    <i class="fa fa-ban"></i>&nbsp;
                    <span>Cancel</span>
                </button>&nbsp;
                <button type="submit" [disabled]="updateTaskForm.form.invalid || isSaving" class="btn btn-outline-dark btn-sm">
                    <i class="fa fa-save"></i>&nbsp;
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>