<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="org.eclipse.crossmeter.platform.metricprovider">
     <metricProvider provider="org.eclipse.crossmeter.metricprovider.trans.bugs.patches.PatchesTransMetricProvider">
     </metricProvider>
  </extension>





<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.crossmeter.metricprovider.trans.bugs.patches.model.BugsPatchesTransMetric"/>
    <class name="org.eclipse.crossmeter.metricprovider.trans.bugs.patches.model.BugTrackerData"/>
  </extension>
</plugin>
