<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Copyright (c) 2017 University of L'Aquila
  
  This program and the accompanying materials are made
  available under the terms of the Eclipse Public License 2.0
  which is available at https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0
-->
<plugin>
  


<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleCodeProject"/>
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleWiki"/>
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleForum"/>
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleIssueTracker"/>
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleIssue"/>
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleIssueComment"/>
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleLabel"/>
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleDownload"/>
    <class name="org.eclipse.scava.repository.model.googlecode.GoogleUser"/>
  </extension>
</plugin>
