/.CrossflowDescriptionLabelProvider.java._trace
/.CrossflowDescriptionLabelProvider.xtendbin
/.CrossflowLabelProvider.java._trace
/.CrossflowLabelProvider.xtendbin
/CrossflowDescriptionLabelProvider.java
/CrossflowLabelProvider.java
