<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.crossmeter.vcs.workingcopymanager">
      <workingCopyManager
            manager="org.eclipse.crossmeter.platform.vcs.workingcopy.svn.SvnWorkingCopyManager">
      </workingCopyManager>
   </extension>

</plugin>
