<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="org.eclipse.scava.plugin.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="org.eclipse.scava.plugin.commands.category"
            id="org.eclipse.scava.plugin.commands.sampleCommand">
      </command>
      <command
            categoryId="org.eclipse.scava.plugin.commands.category"
            id="org.eclipse.scava.plugin.commands.demoCommand"
            name="Demo">
      </command>
      <command
            categoryId="org.eclipse.scava.plugin.commands.category"
            id="org.eclipse.scava.plugin.commands.metric"
            name="Metric">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.scava.plugin.commands.sampleCommand"
            class="org.eclipse.scava.plugin.ui.toolbar.ASTParseHandler">
      </handler>
      <handler
            class="org.eclipse.scava.plugin.ui.toolbar.LibraryUpdateHandler"
            commandId="org.eclipse.scava.plugin.commands.demoCommand">
      </handler>
      <handler
            class="org.eclipse.scava.plugin.ui.toolbar.MetricHandler"
            commandId="org.eclipse.scava.plugin.commands.metric">
      </handler>
      <handler
            class="org.eclipse.scava.plugin.newcommunicationdemo.SearchArtifactMenuActionHandler"
            commandId="org.eclipse.scava.plugin.commands.searchArtifact">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="AST"
               id="org.eclipse.scava.plugin.menus.sampleMenu">
            <command
                  commandId="org.eclipse.scava.plugin.commands.sampleCommand"
                  id="org.eclipse.scava.plugin.menus.sampleCommand"
                  label="Parse">
            </command>
         </menu>
         <menu
               id="org.eclipse.scava.plugin.menus.demoMenu"
               label="SCAVA">
            <command
                  commandId="org.eclipse.scava.plugin.commands.demoCommand"
                  id="org.eclipse.scava.plugin.menus.demoCommand"
                  label="Update libraries">
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.metric"
                  id="org.eclipse.scava.plugin.menus.metricCommand"
                  label="Metric Interface">
            </command>
            <command
                  commandId="org.eclipse.scava.plugin.commands.searchArtifact"
                  id="org.eclipse.scava.plugin.menus.searchArtifact"
                  label="Search artifact">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="org.eclipse.scava.plugin.markers.sourcecodehighlight"
         name="SCAVA Source Code Highlight"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.scava.plugin.annotations.sourcecodehighlight"
            colorPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.color"
            colorPreferenceValue="255,108,211"
            contributesToHeader="false"
            highlightPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.highlight"
            highlightPreferenceValue="true"
            icon="icons/cm.gif"
            includeOnPreferencePage="true"
            label="SCAVA Source Code Highlight"
            overviewRulerPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="10000"
            quickFixIcon="icons/cm.gif"
            textPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.eclipse.scava.plugin.annotations.sourcecodehighlight.ruler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="org.eclipse.scava.plugin.markers.sourcecodehighlight"
            name="org.eclipse.scava.plugin.annotations.sourcecodehighlight"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      </extension>
  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.scava.plugin.packageExplorerPopUpControbution"
            objectClass="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
         <menu
               id="org.eclipse.scava.plugin.menu1"
               label="Library update request"
               path="additions">
            <separator
                  name="org.eclipse.scava.plugin.separator1">
            </separator>
         </menu>
         <action
               class="org.eclipse.scava.plugin.ui.projectexplorer.ProjectExplorerPopUpHandler"
               id="org.eclipse.scava.plugin.action1"
               label="Library update request"
               menubarPath="org.eclipse.scava.plugin.separator1">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.scava.plugin.textPopUpControbution"
            nameFilter="*.*"
            objectClass="org.eclipse.ui.IEditorInput">
         <action
               class="org.eclipse.scava.plugin.ui.texteditor.TextEditorPopUp"
               id="org.eclipse.scava.plugin.action2"
               label="Recommandation request for selected text"
               menubarPath="org.eclipse.scava.plugin.separator1">
         </action>
      </objectContribution>
   </extension>

  <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.eclipse.scava.plugin.recommendation.highlight.decorator.SourceCodeHighlightDecorator"
           icon="icons/SCAVA-icon-16.png"
           id="org.eclipse.scava.plugin.decorators.sourcecodehighlight.namedmember"
           label="SCAVA Source Code Highlight Decorator"
           lightweight="true"
           location="TOP_LEFT"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.jdt.internal.core.NamedMember">
           </objectClass>
        </enablement>
     </decorator>
     <decorator
           adaptable="true"
           class="org.eclipse.scava.plugin.recommendation.highlight.decorator.SourceCodeHighlightDecorator"
           icon="icons/SCAVA-icon-16.png"
           id="org.eclipse.scava.plugin.decorators.sourcecodehighlight.iresource"
           label="SCAVA Source Code Highlight Decorator"
           lightweight="true"
           location="TOP_LEFT"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.core.resources.IResource">
           </objectClass>
        </enablement>
     </decorator>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.eclipse.scava.plugin.preferences.General"
           id="org.eclipse.scava.plugin.preferencespages.general"
           name="SCAVA">
     </page>
     <page
           category="org.eclipse.scava.plugin.preferencespages.general"
           class="org.eclipse.scava.plugin.preferences.Remote"
           id="org.eclipse.scava.plugin.preferencespages.remote"
           name="Remote">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.eclipse.scava.plugin.preferences.PreferenceInitializer">
     </initializer>
  </extension>
</plugin>
