@(invites : List[model.InvitationRequest])

@main(Messages("ossmeter.navigation.admin"), "admin") {
@_nav()
<section>
	<div class="container box">
	    <div class="row col-md-12">
		    <h2>Invite Requests</h2>
	    </div>
	    <div class="row col-md-12">
		    <table class="table">
		    	<thead>
		    		<tr>
		    			<th>Email</th>
		    			<th>Status</th>
		    			<th>Requested</th>
		    			<th>Offered</th>
		    			<th>Accepted</th>
		    			<th>Action</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		@for(i <- invites){
		    		<tr>
		    			<td>@i.getEmail()</td>
		    			<td>@i.getStatus()</td>
		    			<td>@if(i.getRequestedAt()!=null){@i.getRequestedAt().format("dd MMM yyyy (HH:mm)")}</td>
		    			<td>@if(i.getOfferedAt()!=null){@i.getOfferedAt().format("dd MMM yyyy (HH:mm)")}</td>
		    			<td>@if(i.getAcceptedAt()!=null){@i.getAcceptedAt().format("dd MMM yyyy (HH:mm)")}</td>
		    			<td><a href="@routes.Admin.offerInvite(i.getEmail())">Make offer</a> | <a href="@routes.Admin.deleteInvite(i.getEmail())">Delete</a></td>
		    		</tr>
		    		}
		    	</tbody>
		    </table>

		</div>
   </div>
</section>
<script src="@routes.Admin.jsRoutes" defer="defer"></script>
}