@(project: org.eclipse.scava.repository.model.Project)

@import org.eclipse.scava.repository.model._
@import org.eclipse.scava.repository.model.bts.bugzilla._
@import org.eclipse.scava.repository.model.cc.forum._
@import org.eclipse.scava.repository.model.cc.nntp._
@import org.eclipse.scava.repository.model.vcs.svn._
@import org.eclipse.scava.repository.model.vcs.git._
@import org.eclipse.scava.repository.model.eclipse._

@main(Messages("ossmeter.index.title")) {
<section class="foo">
    <div class="container box">
    	<div class="project-detail" data-project="@project.getName()">

    		<div class="row section-heading">
    			<div class="col-md-12">
                <ol class="breadcrumb projectbreadcrumb" style="float:right">
                        <li class="active">
                            <a href="#"><button type="button" class="btn btn-primary btn-xs">Star <span class="badge">42</span></button></a>
                        </li>
                        <li><a href="#">Settings</a></li>
                    </ol>
                    <a href="@routes.Projects.view(project.getShortName())"><h1 class="name">@project.getName()</h1></a>
                    
    	        </div>
    		</div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Bug Tracking Systems</h2>
                </div>
            </div>
    		<div class="row">
                <div class="col-md-4">
                    <div id="spider"></div>
                </div> 
                <div class="col-md-8">  
                    <p>The project is associated with 1 bug tracking system.</p>
                    <p>In the last year, it has received high attention.
                    59 new bugs, 265 new comments and 46 new patches have been posted, in total.</p>
                    <p>In the last month, 3 new bugs, 11 new comments and 1 new patches have been posted to the bug trackers of the project.</p>
                </div>
    	    </div>
        </div>
    </div>
</section>

<section>
    <div class="container box">
        <div class="row">
            <div class="col-md-12 section-heading">
                <p style="float:right">Click the names of the historical metrics below to see how they have evolved over time. </p>
                <h2 class="marginless">Project Evolution</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9" id="plot"></div>
            <div class="col-md-3">
                <h4>Toolbox</h4>
                <a href="#"><span class="glyphicon glyphicon-eye-open tip btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Add plot to dashboard"></span></a>
                <a href="#"><span class="glyphicon glyphicon-time tip btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Create notification"></span></a>
                <a href="#"><span class="glyphicon glyphicon-refresh tip btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Clear plot"></span></a>
                <a href="#"><span class="glyphicon glyphicon-calendar tip btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Show events"></span></a>
                <h4>Legend</h4>
                <div data-bind="foreach: selectedMetrics">
                    <div class="row">
                        <div class="col-md-2"><input type="checkbox" data-bind="checked: selected"/></div>
                        <div class="col-md-2">
                            <div class="legend-box" style="background-color:red" ></div> 
                        </div>
                        <div class="col-md-8" data-bind="text:name">name</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table" id="sparklines-table-lastyear">
                    <thead data-bind="with: sparks12MonthsDates">
                        <th></th>
                        <th>metric</th>
                        <th data-bind="text: first">01/09/2007</th>
                        <th data-bind="text: months + ' months'">65 months</th>
                        <th data-bind="text: last">15/07/2014</th>
                        <th>low</th>
                        <th>high</th>
                    </thead>
                    <tbody data-bind="foreach: metrics">
                        <tr data-bind="with: spark12Months">
                            <td><input type="checkbox" data-bind="checked: $parent.selected"/></td>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: first"></td>
                            <td><img class="spark" data-bind="attr:{src: getApi() + spark}"/></td>
                            <td data-bind="text: last"></td>
                            <td data-bind="text: low"></td>
                            <td data-bind="text: high"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table" id="sparklines-table-alltime">
                    <thead data-bind="with: sparksAllTimeDates">
                        <th>metric</th>
                        <th data-bind="text: first">01/09/2007</th>
                        <th data-bind="text: months + ' months'">65 months</th>
                        <th data-bind="text: last">15/07/2014</th>
                        <th>low</th>
                        <th>high</th>
                    </thead>
                    <tbody data-bind="foreach: metrics">
                        <tr data-bind="with: sparkAllTime">
                            <td data-bind="text: name"></td>
                            <td data-bind="text: first"></td>
                            <td><img class="spark" data-bind="attr:{src: getApi() + spark}"/></td>
                            <td data-bind="text: last"></td>
                            <td data-bind="text: low"></td>
                            <td data-bind="text: high"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>     
</section>
<section>
    <div class="container box">
        <div class="row">
            <div class="col-md-12 section-heading">
                <h2 class="marginless">Other Metrics</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Tabular Metric</h3>
                <p>Hover over the metric names in the table to the right to see a description of the metrics.</p>

                <a href="#"><span class="glyphicon glyphicon-eye-open tip" data-toggle="tooltip" data-placement="left" title="Add sparkline to dashboard"></span></a>
                <a href="#"><span class="glyphicon glyphicon-plus tip" data-toggle="tooltip" data-placement="left" title="Add metric to plot above"></span></a>
            </div>
            <div class="col-md-6">
                <table class="table" id="sparklines-table-lastyear">
                    <thead>
                        <th>metric</th>
                        <th>value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>lines of code</td>
                            <td>324</td>
                        </tr>
                        <tr>
                            <td>lines of code</td>
                            <td>324</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h3>Excellence Metric</h3>
                <p>Lorem ipsum dolor sit amet, no pri sint tation aliquip. Est scripta sadipscing vituperatoribus id, facilisi senserit ex per, dicam gubergren sed ea. Eos commodo dissentiet id, sed cu tamquam sadipscing, duo ad laudem scripta invidunt.</p>
            </div>
            <div class="col-md-6" id="eg2"></div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h3>Brilliance Metric</h3>
                <p>Lorem ipsum dolor sit amet, no pri sint tation aliquip. Est scripta sadipscing vituperatoribus id, facilisi senserit ex per, dicam gubergren sed ea. Eos commodo dissentiet id, sed cu tamquam sadipscing, duo ad laudem scripta invidunt.</p>
            </div>
            <div class="col-md-6" id="eg1"></div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h3>Awesomeness Metric</h3>
                <p>Lorem ipsum dolor sit amet, no pri sint tation aliquip. Est scripta sadipscing vituperatoribus id, facilisi senserit ex per, dicam gubergren sed ea. Eos commodo dissentiet id, sed cu tamquam sadipscing, duo.</p>
            </div>
            <div class="col-md-6" id="eg3"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
/// DEBUG
    $(function() {
        "use strict";
        var Metric = function(id, name, selected) {
            self = this;
            self.id = id;
            self.name = name;
            self.selected = ko.observable(selected);

            self.sparkAllTime = ko.observable();
            self.spark12Months = ko.observable();
        }

        var MetricModel = function() {
            "use strict";
            var self = this;
            self.metrics = ko.observableArray();

            self.selectedMetrics = ko.computed(function() {
                var sel = [];
                ko.utils.arrayForEach(self.metrics(), function(m){
                    if (m.selected()) {
                        sel.push(m);
                    }
                });
                return sel;
            });

            self.addMetric = function(metric) {
                self.metrics.push(metric);

                // Grab spark data
                $.get(getApi() + "/projects/p/@project.getShortName()/s/"+metric.id, function (data) {
                    vm.addSparkAllTime(data);
                });
                $.get(getApi() + "/projects/p/@project.getShortName()/s/"+metric.id+"?startDate="+getOneYearAgoDateString(), function (data) {
                    vm.addSpark12Months(data);
                });
            }.bind(self);

            self.addSparkAllTime = function(spark) {
                for (m in self.metrics()) {
                    if (self.metrics()[m].id === spark.name) {// FIXME:id
                        self.metrics()[m].sparkAllTime(spark);
                        break;
                    }
                }
            }.bind(self);

            self.addSpark12Months = function(spark) {
                for (m in self.metrics()) {
                    if (self.metrics()[m].id === spark.name) {// FIXME:id
                        self.metrics()[m].spark12Months(spark);
                        break;
                    }
                }
            }.bind(self);

            self.sparksAllTimeDates = ko.computed(function() {
                if (self.metrics()[0] && self.metrics()[0].sparkAllTime()) {

                    var f = {
                        first: self.metrics()[0].sparkAllTime().firstDate,
                        last: self.metrics()[0].sparkAllTime().lastDate,
                        months: self.metrics()[0].sparkAllTime().months
                    };
                    return f;
                } else{
                    var f = {
                        first: 0,
                        last : 0,
                        months:0
                    };
                    return f;
                }
            });

            self.sparks12MonthsDates = ko.computed(function() {
                if (self.metrics()[0] && self.metrics()[0].spark12Months()) { 
                    var f = {
                        first: self.metrics()[0].spark12Months().firstDate,
                        last: self.metrics()[0].spark12Months().lastDate,
                        months: self.metrics()[0].spark12Months().months
                    };
                    return f;
                } else{
                    var f = {
                        first: 0,
                        last : 0,
                        months:0
                    };
                    return f;
                }
            });
        }

        var vm = new MetricModel();



        vm.selectedMetrics.subscribe(function(newValue) {
        // TODO the simpler option is to just destroy the svg each time.
            
            // delete vm.chart;
            // $("#plot").empty();

            console.log("yo "+ newValue.length);

            // for (var m in vm.selectedMetrics()) {
            //     if (vm.selectedMetrics()[m].vis) {
            //         var vis = vm.selectedMetrics()[m].vis;
            //         if (vm.chart) {
            //             vm.chart.addVis(vis);
            //         } else {
            //             vm.chart = new ossplots.Chart("#plot", vis);
            //             vm.chart.height = 400;
            //             vm.chart.draw();
            //         }
            //     } else {
            //         $.getJSON("http://localhost:8182/projects/p/@project.getShortName()/m/" + vm.selectedMetrics()[m].id, function(vis) {
            //             vm.selectedMetrics()[m].vis = vis;

            //             if (vm.chart) {
            //                 vm.chart.addVis(vis);
            //             } else {
            //                 vm.chart = new ossplots.Chart("#plot", vis);
            //                 vm.chart.height = 400;
            //                 vm.chart.draw();
            //             }

            //         });
            //     }
            // }
        });

         $.getJSON(getApi() + "/projects/p/modelingepsilon/m/cumulativeBugs", function(vis) {

                var chart = new ossplots.Chart("#plot", vis);
                chart.height = 400;
                chart.draw();


                $.getJSON(getApi() + "/projects/p/modelingepsilon/m/cumulativeComments", function(vis2) {
                    chart.addVis(vis2);

                    var event = new ossplots.Annotation("X", "20100101", "foo");
                    chart.addAnnotation(event);

                    var threshold = new ossplots.Annotation("Y", 1000, "foo");
                    chart.addAnnotation(threshold);
                });
            });

        ko.applyBindings(vm);


        var ms = [new Metric("bugs", "Bugs", true), 
            new Metric("fixedBugs", "Fixed Bugs", false),
            new Metric("cumulativeBugs", "Cumulative Bugs", false), 
            new Metric("comments", "Comments", false), 
            new Metric("cumulativeComments", "Cumulative Comments", false)
            ];
        for (var m in ms) {
            vm.addMetric(ms[m]);
        }
    });

 </script>   

<script type="text/javascript">
/// DEBUG
    $(function() {
        viss = [
        {
            "name" : "avgnumberofarticlesrequestsreplies",
            "type" : "LineChart",
            "datatable" : {
                "cols" : [  { "name" : "Date", "field" : "$__date" },
                    { "name" : "Articles", "field" : "$averageArticles" },
                    { "name" : "Requests", "field" : "$averageRequests" },
                    { "name" : "Replies", "field" : "$averageReplies" } ]
            },
            "x" : "Date",
            "y" : ["Articles", "Requests", "Replies"],
            "timeSeries" : true
        },
        {
            "name" : "avgnumberofrequests",
            "type" : "LineChart",
            "datatable" : {
                "cols" : [  { "name" : "Date", "field" : "$__date" }, 
                    { "name" : "Requests", "field" : "$averageRequests" } ]
            },
            "x" : "Date",
            "y" : "Requests",
            "timeSeries" : true
        },{
            "name" : "sentiment",
            "type" : "BarChart",
            "datatable" : {
                "rows" : "$repositories",
                "cols" : [  { "name" : "Count", "field" : "$count" }, 
                    { "name" : "Sentiment", "field" : "$sentiment" } ]
            },
            "x" : "Sentiment",
            "y" : "Count", 
            "x-label" : "Sentiment",        
            "y-label" : "Count",
            "timeSeries" : false,
            "ordinal" : true
        }
    ];
        viss[0].datatable = generateTestData(viss[0], 500);
        viss[1].datatable = generateTestData(viss[1], 500);
        viss[2].datatable = [
                {"Count" : 23, "Sentiment" : "Joy"},
                {"Count" : 4, "Sentiment" : "Desire"},
                {"Count" : 22, "Sentiment" : "Fear"},
                {"Count" : 12, "Sentiment" : "Anger"}, 
            ];

        var chart = new ossplots.Chart("#plot", viss[0], 400);
        // chart.draw();

        chart = new ossplots.Chart("#eg1", viss[1], 200);
        // chart.draw();

        chart = new ossplots.Chart("#eg2", viss[2], 200);
        // chart.draw();

        viss[2].datatable = [
                {"Count" : 1, "Sentiment" : "Foo"},
                {"Count" : 11, "Sentiment" : "Bar"},
                {"Count" : 23, "Sentiment" : "Biz"},
                {"Count" : 15, "Sentiment" : "Whizz"}, 
                {"Count" : 9, "Sentiment" : "FoShiz"}, 
            ];

        chart = new ossplots.Chart("#eg3", viss[2], 200);
        // chart.draw();
    });
/// END DEBUG
</script>

<script type="text/javascript">
    // TODO: Make this part of the knockout VM

    $(function() {
        var factoids = [
            { name : "Last Year Activity", stars : 4},
            { name : "Last 3 Months Activity", stars : 3},
            { name : "Bug Trackers", stars : 5},
            // { name : "Bash", stars : Math.floor(Math.random() * (6 - 1) + 1)},
            // { name : "Boop", stars : Math.floor(Math.random() * (6 - 1) + 1)},
            // { name : "Buzz", stars : Math.floor(Math.random() * (6 - 1) + 1)},
        ];

        drawSpiderChart("#spider", factoids);
    });
</script>
 
<script type="text/javascript" src="@routes.Assets.at("js/ossplots2.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/generators.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/d3.v3.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/knockout-2.3.0.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/RadarChart.js")"></script>
}