@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
button.mat-icon-button {
    outline: none;
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  