<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.crossmeter.platform.managers.communicationchannel">
      <communicationChannel
            manager="org.eclipse.crossmeter.platform.communicationchannel.nntp.NntpManager">
      </communicationChannel>
   </extension>

</plugin>
