<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
  <extension point="org.eclipse.crossmeter.platform.metricprovider">
     <metricProvider provider="org.eclipse.crossmeter.metricprovider.historic.newsgroups.newthreads.NewThreadsHistoricMetricProvider">
     </metricProvider>
  </extension>


<extension point="org.eclipse.crossmeter.platform.visualisation.metric">
   <visualisation json="vis/historic.newsgroups.newthreads.json">
   </visualisation>
</extension>




<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.crossmeter.metricprovider.historic.newsgroups.newthreads.model.NewsgroupsNewThreadsHistoricMetric"/>
    <class name="org.eclipse.crossmeter.metricprovider.historic.newsgroups.newthreads.model.DailyNewsgroupData"/>
  </extension>
</plugin>
