@(localUser: model.User = null, notiForm: Form[model.Notification])

@import com.feth.play.module.pa.views.html._
@import helper._

@main(Messages("ossmeter.profile.title"),"profile") {

    <h1>@Messages("ossmeter.profile.title")</h1>

    @helper.form(routes.Account.createNotification, 'class->"form-project") {
    <h2>Create new notification</h2>
    <p>This is really just for testing purposes only. </p>
    <fieldset>
            <div class="form-group">
              <label class="form-label">Project ID: </label><input class="form-control" type="text" name="projectId" placeholder="Project ID" value="@notiForm("projectId").value">
            </div>
            <div class="form-group">
              <label class="form-label">Metric ID: </label><input class="form-control" type="text" name="metricId" placeholder="Metric ID" value="@notiForm("metricId").value">
            </div>
            <div class="form-group">
              <label class="form-label">Threshold: </label><input class="form-control" type="text" name="thresholdValue" placeholder="Threshold" value="@notiForm("thresholdValue").value">
            </div>
            <div class="form-group">
              

            </div>
     </fieldset>
        
     <div class="actions">
         <input type="submit" value="Create notification" class="btn btn-success"> or
         <a href="@routes.Application.profile" class="btn btn-danger">Cancel</a>
     </div>
 }
    
}
