<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2017 Centrum Wiskunde & Informatica
  
  This program and the accompanying materials are made
  available under the terms of the Eclipse Public License 2.0
  which is available at https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="scava.rascal.metricprovider">
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/RRJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/AJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/CFJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/MHFJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/PFJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/AHFJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/SRJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/DACJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/IJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/MIFJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/CBOJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/TCCJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/LCOMJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/LCOM4JavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/NOAJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/MPCJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/CeJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/NOCJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/LCCJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/NOMJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/DITJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/RFCJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/CaJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.scava.platform.visualisation.metric">
      <visualisation
            json="vis/AIFJavaQuartilesHistoric.json">
      </visualisation>
   </extension>
</plugin>
