
/* TODO: Edit the image size, don't use CSS */
.logo{
    width:50%;
    margin:20px;
}

.social-logo {
    width:32px;
    margin:8px;
}

.ui-autocomplete {
    background: #fff;
    border-radius: 1px;
    border: 1px solid #ccc
}
.ui-autocomplete.source:hover {
    background: #ccc;
}

.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
    font-size:8px;
}

body {
    font: 14px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
    /*padding-top: 60px;  60px to make the container go all the way to the bottom of the topbar */
    margin: auto;
    background-color: #f9f9f6;
}

.box {
    background-color: #ffffff;
    border : 1px solid #ddd;
    /*box-shadow: 0px 1px 1px #888888;*/
}

.blank {
    background-color:inherit;
    border:0;
    box-shadow: none;
}

section {
    margin:10px;
}

section .container {
    padding:20px;
}

h1 {
    font-size: 4em;
    font-weight: 800;

}

h2 {
    font-size : 28px;
}

h1,h2,h3,h4 {
    font-family:'Bree Serif', Georgia, serif;
    color:#023E73;  
}

.marginless {
    margin:0;
}

form .error input {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

form .error .help-inline {
    color: #B94A48;
}

.providers {
    margin: 5px 0;
    list-style: none;
}

.providers li {
    display: inline;
}

.help-block {
    margin: -10px 0 10px 0;
    font-size: 10px;
    color: #ccc !important;
}

h1 {
    /*margin-bottom: 20px !important;*/
    margin:0;
    margin-bottom:5px;
}

.row {
	margin-left: 0px;
}

.nopadding {
   padding: 0 ;
   margin: 0 ;
}

.span4 {
	width: 360px;
}

.center {
    text-align: center;
}


.projectbreadcrumb {
    font-size:8pt;
    background-color:#fff;
    margin:0;
}

.projectbreadcrumb li + li::before {
    content : "|";
}

ol.projectbreadcrumb {
    padding:0;
}

.section-heading h2 {
    margin: 0;
}
.section-heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

div.checkbox {
    margin-left:20px;
}

.quote {
    font-size:2em;
}

.banner {
    background-color: #1074B2;
    padding:20px;
    color:white;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.banner h2 {
    color:#ff9400;

}

.banner img {
    height:100px;
    margin:5px;
}
.search {
    font-size:1.5em;
    height:1.5em;
}

.btn-primary {
    background-color: #1074B2;
}

img.spark {
    width:100%;
    max-width : 150px;
}

footer {
    background: #ffffff; /*#0073b4;*/
    padding: 10px;
    /*margin-top: 80px;*/
    color: #C0C0C0;
    font-size:0.9em;
    border-top: 1px solid #ddd;
}
footer a { color: #ddd; }
footer a:hover { color: #aaa; }

th {
    font-weight: normal;
}

.gridster {
    position:relative;
}

.gridster ul {
    list-style:none;
    margin:0;
}

ul.projects{
    list-style: none;
    margin:0;
    padding:0;
}
ul.projects li {
    border-bottom: 1px solid #ddd;
    padding:10px;
}
ul.projects img {
    margin-top:10px;
}

li.gridentry {
    box-shadow: 0px 1px 1px #ddd;
    padding:5px;
    overflow:hidden;
}
li.gridentry h3 {
    margin:0;
}

.spark-table {
    font-size:0.8em;
    margin-bottom:0;
}
.spark-table>thead>tr>th, .spark-table>tbody>tr>td{
    margin:0;
    padding: 0;
}

.glyphicon.dash {
    font-size:1.2em;
    color:#023E73;
}

.glyphicon.dash {
    font-size:1.2em;
    color:#023E73;
}

.glyphicon.dash.edit  {
    color : #aaa;
}

.glyphicon.dash.edit:hover  {
    color : #ff9400;
}

.no-overflow {
    overflow:hidden;
    white-space : nowrap;
    text-overflow: ellipsis;
}

span.spark-watch {
    color : #aaa;
}
span.spark-watch.active {
    color : #000;
}
.comparison {
    opacity: 0.9;
    border-top:1px solid #ddd;
}

.panel-body.metric-list {
    height:200px;
    overflow:scroll;
    margin-left: 0;
}

.error {
    border: 2pt #FF0000 solid;
}

#proj_desc {
    width: 357px;
    height: 125px;
    resize: none;
}

#comm_desc {
    width: 243px;
    height: 83px;
    resize: none;
}

table.spark {
    font-size : 0.9em;
}

.slip-left a {
    margin-left : -40px;
    /*margin-right: 30px;*/
}

#returnToTop {
    height: 100px;
    width: 100px;
    position: fixed;
    top: 287px;
    left: 5px;
    display: none;
    text-align: center;
    color: rgb(102, 102, 102);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.0470588);
    cursor : pointer;
}
#returnToTop > span.glyphicon {
    font-size: 50px;
    z-index:10;
}

.activityplot rect {
    fill:#ddd;
}
.activityplot rect:hover {
    fill:#ccc;
}
.activityplot .axis line {
    stroke:#eee;
}
.activityplot .grid {
    stroke:none;
}
.activityplot .axis text {
    display:none;
}

ul.pagination {
    margin:0;
}

.badge {
    font-weight:normal;
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.0.0
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014. Generated with Sass.
 */
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #1074B2;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
