path { 
	stroke: steelblue;			/* the line colour for paths is steelblue */
	stroke-width: 2;			/* the line width for paths is 2 pixels */
	fill: none;					/* don't fill the area bounded by any path elements */
}

.axis path,
.axis line {
	fill: none;					/* don't fill areas bounded by the axis line */
	stroke: #ddd;				/* make the axis line grey */
	stroke-width: 1;			/* make the width of the axis lines 1 pixel */
	shape-rendering: crispEdges;/* make the edges sharp */
}
.axis {
	font-size:8pt;
}

.grid {
	fill : none;
	stroke : #ddd;
	stroke-width : 1;
	shape-rendering:crispEdges;
}

.threshold-line circle {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.threshold-line circle.dragging {
  fill: red;
  stroke: brown;
}

.threshold-line line {
	stroke: steelblue;
	stroke-width:1.5px;
}

.threshold-line line.dragging {
	stroke: red;
}

.legend-box {
	height:10px;
	width:10px;
	display: inline-block;
	margin:2px;
}