<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  










<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.scava.platform.communicationchannel.nntp.local.model.Messages"/>
    <class name="org.eclipse.scava.platform.communicationchannel.nntp.local.model.NewsgroupData"/>
    <class name="org.eclipse.scava.platform.communicationchannel.nntp.local.model.ArticleData"/>
  </extension>
<extension
      point="org.eclipse.scava.platform.managers.communicationchannel">
   <communicationChannel
         manager="org.eclipse.scava.platform.communicationchannel.nntp.local.NntpManager">
   </communicationChannel>
</extension>
</plugin>
