<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  

<extension point="org.eclipse.crossmeter.platform.metricprovider">
   <metricProvider provider="org.eclipse.crossmeter.metricprovider.trans.bugs.dailyrequestsreplies.DailyRequestsRepliesTransMetricProvider">
   </metricProvider>
</extension>

<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.crossmeter.metricprovider.trans.bugs.dailyrequestsreplies.model.BugsDailyRequestsRepliesTransMetric"/>
    <class name="org.eclipse.crossmeter.metricprovider.trans.bugs.dailyrequestsreplies.model.DayComments"/>
  </extension>
</plugin>
