@*
    
    @param project      The associated project 
    @param qualityModel The associated quality model
    @param attribute       The quality attribute
*@

@(project: org.eclipse.scava.repository.model.Project, qualityModel : model.QualityModel, attribute : model.QualityAttribute)

@import scala._

@import org.eclipse.scava.repository.model._
@import org.eclipse.scava.repository.model.bts.bugzilla._
@import org.eclipse.scava.repository.model.cc.forum._
@import org.eclipse.scava.repository.model.cc.nntp._
@import org.eclipse.scava.repository.model.cc.wiki._
@import org.eclipse.scava.repository.model.vcs.svn._
@import org.eclipse.scava.repository.model.vcs.git._
@import org.eclipse.scava.repository.model.eclipse._
@import org.eclipse.scava.repository.model.github._

@attributeId = @{ 
    attribute.getName().replaceAll(" ", "");
}

@metricIds = {
    attribute.getMetrics().take(10).map(x=> x.getIdentifier())
}


@* @_attributeFactoidRadarView(project, qualityModel, attribute) *@


    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="disabled col-md-4"><h2 class="marginless">@attribute.getName()</h2></li>
            <li class="active"><a href="#factoids-@attributeId" role="tab" data-toggle="tab">Factoids</a></li>
            <li class=""><a href="#sparklines-@attributeId" role="tab" data-toggle="tab" id="sparklines-@attributeId-tab">Sparklines</a></li>
            @*@if(attribute.etail != "none") {
            <li class=""><a href="#details-@attributeId" role="tab" data-toggle="tab">Details</a></li>
            }*@
        </ul>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="spider-@attributeId"></div>
        </div>
        <div class="col-md-8">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="factoids-@attributeId">  
                     <p>Loading...</p>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $.getJSON(getApi() + "/projects/p/@project.getShortName()/f/@attribute.getFactoids().take(5).map(x=> x.getIdentifier()).mkString("+")", function (result) {
                            $("#factoids-@attributeId").empty();

                            for (var r in result) {
                                var f = result[r];
                                if (f.factoid) {
                                    var _s = "<p><strong>" + f.name + "</strong><br/>";
                                    _s = _s + f.factoid + "</p>"
                                    $("#factoids-@attributeId").append(_s)
                                }
                            }
                            var config = {
                                w: 150,
                                h: 150,
                                maxValue: 4,
                                levels: 4,
                                ExtraWidthX:200
                            };
                            drawSpiderChart("#spider-@attributeId", result, config);
                        }).fail(function(err) {
                            $("#factoids-@attributeId").empty();
                            $("#factoids-@attributeId").append("<p>Unable to load factoids: " + JSON.parse(err.responseText).msg + "</p>");
                        });
                    });
                </script>
                <div class="tab-pane fade" id="sparklines-@attributeId">
                    <table class="table spark" id="sparklines-table-@attributeId">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                    <script type="text/javascript">
                        $('#sparklines-@attributeId-tab').one('click', function(e) {
                            $.getJSON(getApi() + "/projects/p/@project.getShortName()/s/@attribute.getMetrics().take(10).map(x=> x.getIdentifier()).mkString("+")", function (result) {

                                console.log(Object.prototype.toString.call( result ));

                                // Convert into an array if only one spark was requested
                                if( Object.prototype.toString.call( result ) === '[object Object]' ) {
                                    result = [result];
                                }

                                for (var r in result) {
                                    var data = result[r];

                                    if (data.status === "error") {
                                        console.log("Unable to load sparky '" + data.metricId + "': " + data.msg);
                                        continue;
                                    }

                                    // FIXME: If the first sparkle is in error, this won't work.
                                    if ($("#sparklines-table-@attributeId > thead > tr").length == 0) { // Set up the header
                                        $("#sparklines-table-@attributeId > thead:last").append(
                                            "<tr><th></th><th>metric</th>" +
                                            "<th>" + data.firstDate + "</th>" +
                                            "<th>" + data.months + " months</th>" +
                                            "<th>" + data.lastDate + "</th>" +
                                            "<th>low</th>" +
                                            "<th>high</th></tr>");
                                    }


                                    var a = ""; 
                                    if (getIndexOfSpark("@project.getShortName()", data.id) != -1) {
                                        a = "active"; 
                                    } 

                                    var toAppend = "<tr><td>";

                                    if (app.loggedIn) {
                                        var id = "watch-spark-@project.getShortName()-" + data.id;
                                        toAppend = toAppend + '<a href="javascript:toggleSpark(\''+id+'\',\'@project.getShortName()\',\'@project.getName()\',\''+ data.id + '\', \''+data.name+'\')"><span id="' + id + '" class="glyphicon glyphicon-eye-open spark-watch tip ' + a + '" data-toggle="tooltip" data-placement="left" title="Watch/unwatch on dashboard"></span></a>';
                                    }
                                   toAppend = toAppend + "</td>" +
                                        "<td>" + data.name + 
                                        "</td><td>" + Math.round(data.first * 100) / 100  +
                                        "</td><td><img class=\"spark\" src=\"" + getApi() + data.spark + "\" />" +  
                                        "</td><td>" + Math.round(data.last * 100) / 100  + 
                                        "</td><td>" + Math.round(data.low * 100) / 100 + 
                                        "</td><td>" + Math.round(data.high * 100) / 100 + "</td></tr>";

                                    $("#sparklines-table-@attributeId > tbody:last").append(toAppend);
                                }
                                $(".tip").tooltip(app.tooltipOptions);
                            });
                        });

                    </script>
                </div>

    @*            @if(attribute.detail != "none") {
                <div class="tab-pane fade" id="details-@attributeId">
                    @attribute.detail match {
                        case "src" => {
                            @if(project.getVcsRepositories() ne null) {
                            <table class="table">
                                <thead>
                                    <th>Repository URL</th>
                                    <th>Type</th>
                                </thead>
                                @for(vcs <- project.getVcsRepositories()) {
                                <tr>
                                    <td><a href="@vcs.getUrl()">@vcs.getUrl()</a></td>
                                    <td>@vcs match {
                                        case a : SvnRepository => {
                                        SVN
                                        }
                                        case a : GitRepository => {
                                        Git
                                        }
                                    }</td>
                                </tr>
                                }
                            </table>
                            } else {
                                <p>No source code repositories found. <a href="#">Add one</a></p>
                            }
                        }
                        case "cc" => {
                            @if(project.getCommunicationChannels() ne null) {
                            <table class="table">
                                <thead>
                                    <th>Channel URL</th>
                                    <th>Type</th>
                                    <th>Is Analysed?</th>
                                </thead>
                                @for(comm <- project.getCommunicationChannels()) {
                                <tr>
                                    <td><a href="@comm.getUrl()">@comm.getUrl()</a></td>
                                    <td>@comm match {
                                        case a : Forum => {
                                        Forum
                                        }
                                        case a : NntpNewsGroup => {
                                        NNTP
                                        }
                                        case a : MailingList => {
                                        Mailing List
                                        }
                                        case a : Wiki => {
                                        Wiki
                                        }
                                        case a : Documentation => {
                                        Documentation
                                        }
                                        case default => {

                                        }
                                    }</td>
                                    <td>@if(comm.getNonProcessable()) { N } else { Y }</td>
                                </tr>
                                }
                            </table>
                            } else {
                                <p>No communication channels found. <a href="#">Add one</a></p>
                            }
                        }
                        case "bts" => {
                            @if(project.getBugTrackingSystems() ne null) {
                            <table class="table">
                                <thead>
                                    <th>Tracker URL</th>
                                    <th>Type</th>
                                </thead>
                                @for(bts <- project.getBugTrackingSystems()) {
                                <tr>
                                    <td><a href="@bts.getUrl()">@bts.getUrl()</a></td>
                                    <td>@bts match {
                                        case a : Bugzilla => {
                                        Bugzilla
                                        }
                                        case b : GitHubBugTracker => {

                                        }
                                        case default => {

                                        }
                                    }</td>
                                </tr>
                                }
                            </table>
                            } else {
                                <p>No bug tracking systems found. <a href="#">Add one</a></p>
                            }
                        }
                        case _ => {}
                    }
                }
                </div>
    *@
            </div>
            <!-- @*<a class="btn btn-default form-control" href="@routes.Projects.viewAspect(project.getShortName(), qualityModel.id, attributeId, true)">View in depth @attribute.name.toLowerCase() metrics</a>*@ -->
        </div>  
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-default form-control" href="@routes.DemoApplication.viewProject(project.getShortName(), false)">View metrics in depth</a>
        </div>
    </div>    
    