@(changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("ossmeter.change.password.title")) {
<section>
    <div class="container box">
        <div class="row">
            <div class="col-md-12">
				<h1>Change your password</h1>
				<p>
				@form(routes.Account.doChangePassword) {
				   
			       @if(changeForm.hasGlobalErrors) { 
			        <p class="error">
			          <span class="label label-important">@changeForm.globalError.message</span>
			     	</p>
			       }

				   @_passwordPartial(changeForm)
			           
					<input type="submit" value="@Messages("ossmeter.change.password.cta")" class="btn btn-primary"> 
				}
				</p>
			</div>
		</div>
	</div>
</section>
}