<section>
	<div class="container box">
		<div class="row col-md-12">
		    <ul class="list-inline center">
		        <li><a class="btn hvr-underline-from-center" href="@routes.Users.users()">Users</a></li>
		        <li><a class="btn hvr-underline-from-center" href="@routes.Admin.requests()">Invitation requests</a></li>
		        <li><a class="btn hvr-underline-from-center" href="@routes.Admin.status()">Platform Status</a></li>
		        <li><a class="btn hvr-underline-from-center" href="@routes.Admin.errors()">Errors</a></li>
		        <li><a class="btn hvr-underline-from-center" href="@routes.News.adminIndex()">News</a></li>
		        <li><a class="btn hvr-underline-from-center" href="@routes.Admin.viewMailingList()">Mailing List</a></li>
		        <li><a class="btn hvr-underline-from-center" href="@routes.Admin.qualityModels()">Quality Models</a></li>
		    </ul>
		</div>
	</div>
</section>
