<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scava.platform.metricprovider">
      <metricProvider
            provider="org.eclipse.scava.metricprovider.historic.totaldownloadcounter.TotalDownloadCounterMetricProvider">
      </metricProvider>
   </extension>

</plugin>
