<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.Crossflow_diagram"
            id="CrossflowBaseClassGeneration.contribution">
         <menu
               icon="icons/crossflow-c.png"
               id="CrossflowGeneration.menu"
               label="Crossflow"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.scava.crossflow.dt.DeployArtifactsAndRun"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowDeployArtifactsAction"
               label="Deploy Artifacts and Run (new browser window)"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Deploys artifacts to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.DeployArtifacts"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowDeployArtifactsAction"
               label="Deploy Artifacts"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Deploys artifacts to a running web server (IP defined in the experiment.xml file)">
         </action>
         
         <action
               class="org.eclipse.scava.crossflow.dt.GenerateDeploymentArtifactsAction"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowGenerateDeploymentArtifacts"
               label="Generate Deployment Artifacts"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Generates the necessary artifacts for deploying the workflow.">
         </action>

         <action
               class="org.eclipse.scava.crossflow.dt.GenerateImplementationDelegate"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowGenerateImplementationAction"
               label="Generate Workflow Scaffold(s)"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Generates the source code for this workflow for the defined languages.">
         </action>

      </objectContribution>
      <objectContribution
            id="CrossflowBaseClassGeneration.contribution"
            nameFilter="*.flexmi"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/crossflow-c.png"
               id="CrossflowGeneration.menu"
               label="Crossflow"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.scava.crossflow.dt.DeployArtifactsAndRun"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowDeployArtifactsAction"
               label="Deploy Artifacts and Run (new browser window)"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Deploys artifacts to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.DeployArtifacts"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowDeployArtifactsAction"
               label="Deploy Artifacts"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Deploys artifacts to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.GenerateDeploymentArtifactsAction"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowGenerateDeploymentArtifacts"
               label="Generate Deployment Artifacts"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Generates the necessary artefacts for executing the workflow.">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.GenerateAction"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowBaseClassGenerationAction"
               label="Generate Workflow Scaffold(s)"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Generates the source code for this workflow, adapt the classes in the src folder to perform your task logic.">
         </action>
      </objectContribution>
           <objectContribution
            id="CrossflowBaseClassGeneration.contribution"
            nameFilter="*.Crossflow_model"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/crossflow-c.png"
               id="CrossflowGeneration.menu"
               label="Crossflow"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.scava.crossflow.dt.DeployArtifactsAndRun"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowDeployArtifactsAction"
               label="Deploy Artifacts and Run (new browser window)"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Deploys artifacts to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.DeployArtifacts"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowDeployArtifactsAction"
               label="Deploy Artifacts"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Deploys artifacts to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.GenerateDeploymentArtifactsAction"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowGenerateDeploymentArtifacts"
               label="Generate Deployment Artifacts"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Generates the necessary artefacts for executing the workflow.">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.GenerateAction"
               enablesFor="1"
               icon="icons/crossflow-c.png"
               id="CrossflowBaseClassGenerationAction"
               label="Generate Workflow Scaffold(s)"
               menubarPath="CrossflowGeneration.menu/group"
               tooltip="Generates the source code for this workflow, adapt the classes in the src folder to perform your task logic.">
         </action>
      </objectContribution>
   </extension>
</plugin>
