<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.crossflow_diagram"
            id="CROSSFLOWBaseClassGeneration.contribution">
         <menu
               icon="icons/running.gif"
               id="CROSSFLOWGeneration.menu"
               label="CROSSFLOW Artefact Generation"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.scava.crossflow.dt.UploadZipAndRun"
               enablesFor="1"
               icon="icons/running.gif"
               id="CROSSFLOWUploadZipAction"
               label="Upload Zip and Run (new browser window)"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Uploads the workflow Zip to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.UploadZip"
               enablesFor="1"
               icon="icons/running.gif"
               id="CROSSFLOWUploadZipAction"
               label="Upload Zip"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Uploads the workflow Zip to a running web server (IP defined in the experiment.xml file)">
         </action>
         
         <action
               class="org.eclipse.scava.crossflow.dt.CreateExecutablesAction"
               enablesFor="1"
               icon="icons/busy.gif"
               id="CROSSFLOWExecutableGenerationAction"
               label="Generate CROSSFLOW Executables"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Generates the necessary artefacts for executing the workflow.">
         </action>

         <action
               class="org.eclipse.scava.crossflow.dt.GenerateAction"
               enablesFor="1"
               icon="icons/busy.gif"
               id="CROSSFLOWBaseClassGenerationAction"
               label="Generate CROSSFLOW Base Classes"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Generates the source code for this workflow, adapt the classes in the src folder to perform your task logic.">
         </action>

      </objectContribution>
      <objectContribution
            id="CROSSFLOWBaseClassGeneration.contribution"
            nameFilter="*.flexmi"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/running.gif"
               id="CROSSFLOWGeneration.menu"
               label="CROSSFLOW Artefact Generation"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.scava.crossflow.dt.UploadZipAndRun"
               enablesFor="1"
               icon="icons/running.gif"
               id="CROSSFLOWUploadZipAction"
               label="Upload Zip and Run (new browser window)"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Uploads the workflow Zip to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.UploadZip"
               enablesFor="1"
               icon="icons/running.gif"
               id="CROSSFLOWUploadZipAction"
               label="Upload Zip"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Uploads the workflow Zip to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.CreateExecutablesAction"
               enablesFor="1"
               icon="icons/busy.gif"
               id="CROSSFLOWExecutableGenerationAction"
               label="Generate CROSSFLOW Executables"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Generates the necessary artefacts for executing the workflow.">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.GenerateAction"
               enablesFor="1"
               icon="icons/busy.gif"
               id="CROSSFLOWBaseClassGenerationAction"
               label="Generate CROSSFLOW Base Classes"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Generates the source code for this workflow, adapt the classes in the src folder to perform your task logic.">
         </action>
      </objectContribution>
           <objectContribution
            id="CROSSFLOWBaseClassGeneration.contribution"
            nameFilter="*.crossflow_model"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/running.gif"
               id="CROSSFLOWGeneration.menu"
               label="CROSSFLOW Artefact Generation"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.scava.crossflow.dt.UploadZipAndRun"
               enablesFor="1"
               icon="icons/running.gif"
               id="CROSSFLOWUploadZipAction"
               label="Upload Zip and Run (new browser window)"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Uploads the workflow Zip to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.UploadZip"
               enablesFor="1"
               icon="icons/running.gif"
               id="CROSSFLOWUploadZipAction"
               label="Upload Zip"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Uploads the workflow Zip to a running web server (IP defined in the experiment.xml file)">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.CreateExecutablesAction"
               enablesFor="1"
               icon="icons/busy.gif"
               id="CROSSFLOWExecutableGenerationAction"
               label="Generate CROSSFLOW Executables"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Generates the necessary artefacts for executing the workflow.">
         </action>
         <action
               class="org.eclipse.scava.crossflow.dt.GenerateAction"
               enablesFor="1"
               icon="icons/busy.gif"
               id="CROSSFLOWBaseClassGenerationAction"
               label="Generate CROSSFLOW Base Classes"
               menubarPath="CROSSFLOWGeneration.menu/group"
               tooltip="Generates the source code for this workflow, adapt the classes in the src folder to perform your task logic.">
         </action>
      </objectContribution>
   </extension>

</plugin>
