<div>
  <div class="page-header">
    <h2>Platform Workers</h2>
    <hr/>
  </div>

  <div class="card-columns">
    <div *ngFor="let worker of workerList" class="card text-white bg-secondary mb-3">
      <div class="card-header" style="padding: 0.5rem;" >
        <h4 style="margin: 0px;" class="card-title">{{worker.workerId}}</h4>
      </div>
      <div class="card-body worker-card-body">
        <div *ngIf="worker.currentTask != null">
           
          <div class="row">
            <div class="col-5">
              <b>Executed Task :</b>
            </div>
            <div class="col-7">
              Task1
            </div>
          </div>
          <div class="row">
              <div class="col-5">
                <b>Project :</b>
              </div>
              <div class="col-7">
                Project1
              </div>
            </div>
          <div class="row">
            <div class="col-5">
              <b>Metric Provider :</b>
            </div>
            <div class="col-7">
              21 Metrics
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <b>Progress :</b>
            </div>
            <div class="col-7">
              <div class="progress">
                <div class="progress-bar bg-dark" role="progressbar" style="width:  30%" aria-valuemin="0" aria-valuemax="100">10%</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <b>Time Remained :</b>
            </div>
            <div class="col-7">
              1h 22 min
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer" style="padding: 0.5rem;">
        <button type="button" class="btn btn-outline-light btn-sm" style="margin-left: 65%;">Interupt Analysis</button>
      </div>
    </div>
  </div>
  <br/>
  <h2>Pending Tasks</h2>
  <hr/>
  <ul *ngFor="let worker of workerList" class="list-group text-white mb-1">
    <li class="list-group-item bg-secondary">
        <div class="row">
            <div class="col-sm">
              <h5>Task 1 - QualityGuardAnalysis </h5>
            </div>
            <div class="col-3">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-sm btn-outline-light fa fa-arrow-up"></button>
                      <button type="button" class="btn btn-sm btn-outline-light fa fa-arrow-down"></button>
                      <button type="button" class="btn btn-sm btn-outline-light fa fa-pause"></button>
                      
                      <div class="dropdown">
                          <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Execute On
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Worker1</a>
                            <a class="dropdown-item" href="#">Worker2</a>
                          </div>
                        </div>
                    </div>
                  </div>
            </div>           
          </div>
          <div class="row">
                        <div class="col-sm">
               <b> Kind :</b> Periodical
              </div>
              <div class="col-sm">
                  <b>  Metrics :</b> 23 Metrics
              </div>  
              <div class="col-sm">
                  <b> Start Date :</b> 20/01/2015
              </div>  
              <div class="col-sm">
                  <b> End Date :</b> 20/01/2016
              </div> 
              <div class="col-3">
                 
              </div>          
            </div>
    </li>
  </ul>

</div>