@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic,600,700,600italic,700italic);
body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  height: 100%;
  background: #eee;
}

.worker-card-body {
    padding: 0.5rem;
}
