<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  


<extension point="org.eclipse.crossmeter.platform.visualisation.metric">
   <visualisation json="vis/historic.bugs.severitybugstatus.json">
   </visualisation>
</extension>
<extension point="org.eclipse.crossmeter.platform.metricprovider">
   <metricProvider provider="org.eclipse.crossmeter.metricprovider.historic.bugs.severitybugstatus.SeverityBugStatusHistoricMetricProvider">
   </metricProvider>
</extension>

<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.crossmeter.metricprovider.historic.bugs.severitybugstatus.model.BugsSeverityBugStatusHistoricMetric"/>
    <class name="org.eclipse.crossmeter.metricprovider.historic.bugs.severitybugstatus.model.SeverityLevel"/>
  </extension>
</plugin>
