<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension-point id="crossmeter.rascal.metricprovider" name="CROSSMETER Rascal metric provider" schema="schema/crossmeter.rascal.metricprovider.exsd"/>
   <extension-point id="crossmeter.rascal.extractor" name="Crossmeter Rascal Extractor extension point" schema="schema/crossmeter.rascal.extractor.exsd"/>
   <extension point="org.eclipse.crossmeter.platform.managers.metricprovider">
      <metricProviderManager manager="org.eclipse.crossmeter.metricprovider.rascal.RascalMetricProviderManager">
      </metricProviderManager>
   </extension>

<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.RascalMetrics"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.IntegerMeasurement"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.DatetimeMeasurement"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.RealMeasurement"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.BooleanMeasurement"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.StringMeasurement"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.ListMeasurement"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.TupleMeasurement"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.SetMeasurement"/>
    <class name="org.eclipse.crossmeter.metricprovider.rascal.trans.model.URIMeasurement"/>
  </extension>
</plugin>
