<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scava.platform.managers.communicationchannel">
      <communicationChannel
            manager="org.eclipse.scava.platform.communicationchannel.sourceforge.SourceForgeManager"></communicationChannel>
   </extension>

</plugin>
