@*
    
    @param project      The associated project 
    @param qualityModel The associated quality model
    @param attribute       The quality attribute
*@

@(project: org.eclipse.scava.repository.model.Project, qualityModel : model.QualityModel, attribute : model.QualityAttribute)

@import scala._

@attributeId = @{ 
    attribute.getName().replaceAll(" ", "");
}

    <div class="row" data-toggle="collapse" data-target="#div-attr-@attributeId" aria-expanded="true" aria-controls="div-attr-@attributeId">
        <div class="col-md-12">
            <h2 class="marginless">@attribute.getName()</h2>
        </div>
    </div>
    <div id="div-attr-@attributeId">
        <div class="row collapse" style="min-width:970px !important">
            <div class="col-xs-2">
                <table class="table spark" id="sparklines-table-toolkit-@attributeId">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <table class="table spark" id="sparklines-table-12months-@attributeId">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-xs-4">
                <table class="table spark" id="sparklines-table-alltime-@attributeId">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <h3>Other Metrics</h3>
        <div class="row" id="other-plots-@attributeId"></div>
    </div>

    <script type="text/javascript">
        $(function() {
            "use strict";
            // var vm = new UnsparkablePlots();
            // ko.applyBindings(vm, document.getElementById("other-plots-@attributeId"));

            // var v = new Unsparkable("modeling-epsilon", "bugs.inactiveusers");
            // // vm.unsparks.push(v);

            var twelveMth = {
                sparktable : "sparklines-table-12months-@attributeId",
                projectid : "@project.getShortName()",
                projectname : "@project.getName()",
                metriclist : "@attribute.getMetrics().map(x=>x.getIdentifier()).mkString("+")",
                querystring : "startDate=" + getOneYearAgoDateString(),
                toolkittable : "sparklines-table-toolkit-@attributeId",
                drawName : true,
                drawNonSparkable : true,
                drawNonSparkableContainer : "other-plots-@attributeId"
            };

            var allTime = {
                sparktable : "sparklines-table-alltime-@attributeId",
                projectid : "@project.getShortName()",
                projectname : "@project.getName()",
                metriclist : "@attribute.getMetrics().map(x=>x.getIdentifier()).mkString("+")",
            };

            drawSparkTable(twelveMth);
            drawSparkTable(allTime);

            // Ensure all rows are the same height
            var fix = function() {
                fixHeights("sparklines-table-12months-@attributeId", "sparklines-table-alltime-@attributeId");
                fixHeights("sparklines-table-12months-@attributeId", "sparklines-table-toolkit-@attributeId");
                setTimeout(fix, 3000); 
            };
            setTimeout(fix, 5000); 
        });
    </script>
<script type="text/javascript" src="@routes.Assets.at("js/knockout-2.3.0.js")"></script>