@(project: org.eclipse.scava.repository.model.Project, iProject: model.Project, qualityModel : model.QualityModel, isSummary : Boolean, isAdmin: Boolean)

@import scala._

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import org.eclipse.scava.repository.model._
@import org.eclipse.scava.repository.model.bts.bugzilla._
@import org.eclipse.scava.repository.model.cc.forum._
@import org.eclipse.scava.repository.model.cc.nntp._
@import org.eclipse.scava.repository.model.cc.wiki._
@import org.eclipse.scava.repository.model.vcs.svn._
@import org.eclipse.scava.repository.model.vcs.git._
@import org.eclipse.scava.repository.model.eclipse._

@import model.Notification
@import model.SparkGridEntry
@import model.EventGroup

@main(Messages("ossmeter.index.title")) {
<script type="text/javascript">
$(function() {
@subjectPresentOr() {
@defining(Application.getLocalUser(session())) { user =>
app.loggedIn = true;
@for(g <- user.getGrid()) {@g match {
case n : Notification => {@if(n.getProject().getId()) {
    app.grid.notifications.push({
	"project" : "@n.getProject().getId()",
	"metric" : "@n.getMetric().getId()",
	"threshold" : "@n.getThreshold()",
	"aboveThreshold" : "@n.getAboveThreshold()"
	});
}}
case s : SparkGridEntry => {@if(s.getProject().getId()) {
    app.grid.sparks.push({
	"project" : "@s.getProject().getId()",
	"metric" : "@s.getMetric().getId()"
	});
}}
case e : EventGroup => {app.grid.eventGroups.push({
	"name" : "@e.getName()", "events" : [@for(ev<-e.getEvents()){ {"name" : "@ev.getName()", "date" : "@ev.getDate().format("yyyyMMdd")" },  }]
});}
case other => {}}}}}{ }
});
</script>

@_projectMetaData(project, iProject)

@if(iProject.getAnalysed() || isAdmin) {

    @if(!isSummary) {
        @_largePlot()
    }

  
  @_aspectView(project, qualityModel, qualityModel, isSummary, List())
  
<div class="modal fade" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
	
            var Unsparkable = function(projectid, metricid) {
                this.projectid = projectid;
                this.metricid = metricid;
            }

            var UnsparkablePlots = function() {
                this.unsparks = ko.observableArray();
            }
            $(function(){
                ko.bindingHandlers.compPlot = {
                    init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
                    },
                    update: function(element, valueAccessor, allBindingsAccessor) {
                        var vacc = valueAccessor();
                        var projectid = vacc.projectid();
                        var metricid = vacc.metricid();

                        console.log("here we go")
                        $.getJSON(getApi() + "/projects/p/" + projectid + "/m/" + metricid, function(vis) {
                                console.log("to draw into: " + jq(element));
                                
                            if (vis.datatable.length > 0) {


                                var chart = new metvis.Chart(jq(element), vis);
                                chart.height = 200;
                                chart.draw();
                                //TODO:legend
                            } else {
                                console.log("metric " + metricid + " has no data");
                            }

                        }).error(function(error){
                            console.log(error);
                        });

                    }
                }
            });
</script> 

<script type="text/javascript" src="@routes.Assets.at("js/d3.v3.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/RadarChart.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/knockout-2.3.0.js")"></script>
       
    } else { @* End if(project.getAnalysed())*@

        @_unanalysed()
    }

}