@(featuredProjects: List[model.Project], otherProjects : List[model.Project], statistics : model.Statistics)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@main(Messages("ossmeter.index.title")) {
<section class="foo">
  <div class="container box">
    
     <div class="row">
     	<div class="col-md-3">
     		<h1>Projects</h1>
     	</div>
     	<div class="col-md-6">
     		<div class="row">
			    <div class="col-md-12 center">
			    	<h2 style="margin:5px"><span style="color:#ff9400">Discover</span>, Compare, Adopt, Monitor</h2>
			    </div>
		    </div>
          	<div class="input-group">
              <input type="text" class="form-control txt_search" placeholder="Search for Open-Source Software">
              <div class="input-group-btn ui-widget">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
              </div>
          </div>
@subjectPresentOr() {
    @defining(Application.getLocalUser(session())) { user =>
			<div class="col-md-2">
			   	<a style="margin-top:40px" class="btn btn-success" href="@routes.Projects.create()">Add Project</a>
		   	</div>
}}{<!--  Print nothing -->}
      </div>
   	</div>
</section>

<script type="text/javascript">
	$(function () {
	$(".txt_search").autocomplete({
		source: function(request, response) {
			console.log("making request")
			jsRoutes.controllers.Application.autocomplete(request.term).ajax()
				.success(function(result) {
					console.log("success: " + result);
					response($.map(result, function(item) {
						return {
							label: item.name,
							value: item.id
						}
					}));
				}).error(function(result) {
					console.log("fail: " + result);
				});
		},
		minLength: 2,
		focus: function( event, ui ) {
	        $( "#project0" ).val( ui.item.label );
        	return false;
      	},
		select : function(event, ui) {
			//FIXME: Should use Play's routing
			window.location.href = "projects/" + ui.item.value; 
		},
		open: function() {
    		$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  		},
  		close: function() {
    		$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  		}
	});
	var submit = function() {
       window.location.href = "search?q=" + $(".txt_search").val(); 
    }
    $(".txt_search").keyup(function(e){
        if (e.keyCode == 13) submit();
    });
    $("#search_btn").click(submit);
});
</script>

@if(featuredProjects.size() > 0 || otherProjects.size() >0) {
<section class="foo">
	<div class="container box">
	<div class="row">
		<div class="col-md-6">
		@if(featuredProjects.size() > 0) {
		    <h2>Analysed Projects</h2>	
		    <ul class="projects">
				@for(p <- featuredProjects) {
                <li><a href="@routes.Projects.view(p.getId())">@p.getName()</a></li>
               }
		    </ul>
		 }
		 @if(otherProjects.size() > 0) {
		    <h2>Other Projects</h2>	
		    <ul class="projects">
				@for(p <- otherProjects) {
                <li><a href="@routes.Projects.view(p.getId())">@p.getName()</a></li>
               }
		    </ul>
		 }
		</div>
		<div class="col-md-6">
		    <div class="row">
				<div class="col-md-12">
				    <h2>OSSMETER Statistics</h2>	
				    <table class="table">
					    <tbody>
						    <tr>
						    	<td>Number of projects</td>
						    	<td>@statistics.getNumberOfProjects()</td>
						    </tr>
						    <tr>
						    	<td>Number of VCS repositories</td>
						    	<td>@statistics.getNumberOfVcsRepositories()</td>
						    </tr>
						    <tr>
						    	<td>Number of communication channels</td>
						    	<td>@statistics.getNumberOfCommunicationChannels()</td>
						    </tr>
						    <tr>
						    	<td>Number of bug trackers</td>
						    	<td>@statistics.getNumberOfBugTrackers()</td>
						    </tr>
						   <!--  <tr>
						    	<td>Number of lines of code</td>
						    	<td>15 Billion</td>
						    </tr>
						    <tr>
						    	<td>Number of messages</td>
						    	<td>7 Million</td>
						    </tr>
						    <tr>
						    	<td>Number of bugs</td>
						    	<td>100 Million</td>
						    </tr> -->
					    </tbody>
				    </table>
				</div>
			</div>
		</div>
	</div>
  </div>
</section>
}
}