<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension-point id="org.eclipse.scava.platform.metricprovider" name="metricProvider" schema="schema/org.eclipse.scava.platform.metricprovider.exsd"/>
   <extension-point id="org.eclipse.scava.platform.managers.vcs" name="vcsManager" schema="schema/org.eclipse.scava.platform.managers.vcs.exsd"/>
   <extension-point id="org.eclipse.scava.platform.managers.metricprovider" name="metricProviderManager" schema="schema/org.eclipse.scava.platform.managers.metricprovider.exsd"/>
   <extension-point id="org.eclipse.scava.platform.managers.bugtracking" name="bugtracker" schema="schema/org.eclipse.scava.platform.managers.bugtracking.exsd"/>
   <extension-point id="org.eclipse.scava.platform.managers.communicationchannel" name="communcationChannel" schema="schema/org.eclipse.scava.platform.managers.communicationchannel.exsd"/>

<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.scava.platform.factoids.Factoids"/>
    <class name="org.eclipse.scava.platform.factoids.Factoid"/>
    <class name="org.eclipse.scava.platform.indexing.Index"/>
    <class name="org.eclipse.scava.platform.indexing.Indexing"/>
  </extension>
</plugin>
