<form name="deleteForm" (ngSubmit)="save(user.login)">
    <div class="modal-header">
        <h4 class="modal-title">Add new configuration</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <i class="fa fa-ban"></i>&nbsp;<span>Cancel</span>
        </button>&nbsp;
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-times"></i>&nbsp;<span>Add</span>
        </button>
    </div>
</form>
