<div class="jumbotron" style="padding-top:20px;">
    <div class="page-header">
        <h2>{{project?.name}}</h2>
        <hr/>
        <div class="panel-profile">
            <div class="panel-body text-center">
                <i class="fa fa-4x fa-check-circle"></i>
                <h3 class="panel-title">
                    <strong>up to date</strong>
                </h3>
            </div>
        </div>
    </div>

    <table class="table table-condensed table-responsive table-project-information">
        <tbody>
            <tr>
                <td>Project Type</td>
                <td>{{project?._type}}</td>
            </tr>
            <tr>
                <td>URL</td>
                <td>
                    <a href="{{project?.html_url}}">{{project?.html_url}}</a>
                </td>
            </tr>
            <tr>
                <td>Repository</td>
                <td>
                    <a href="{{project?.svn_url}}">{{project?.svn_url}}</a>
                </td>
            </tr>
            <tr>
                <td>Size</td>
                <td>{{project?.size}}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <span>Analysis Algorithm Name</span>
                        </th>
                        <th>
                            <span>Start Date</span>
                        </th>
                        <th>
                            <span>End Date</span>
                        </th>
                        <th>
                            <span>Analysis Progress Rate</span>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let executionTask of executionTasks">
                        <td>
                            {{executionTask.metricExecutions.length}} Metric Executions
                        </td>
                        <td>
                            <div>
                                <span>{{executionTask.startDate.$date | date: 'dd/MM/yyyy'}}</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>{{executionTask.endDate}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                                    <i class="fa fa-play" aria-hidden="true"></i>&nbsp;
                                    <span class="d-none d-md-inline">Start</span>
                                </button>&nbsp;
                                <button type="submit" queryParamsHandling="merge" class="btn btn-warning btn-sm">
                                    <i class="fa fa-stop" aria-hidden="true"></i>&nbsp;
                                    <span class="d-none d-md-inline">Stop</span>
                                </button>&nbsp;
                                <button type="submit" queryParamsHandling="merge" class="btn btn-dark btn-sm">
                                    <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;
                                    <span class="d-none d-md-inline">Reset</span>
                                </button>&nbsp;
                                <button type="submit" queryParamsHandling="merge" class="btn btn-info btn-sm">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>&nbsp;
                                <button type="button" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;
                                    <span class="d-none d-md-inline">Remove</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-sm" (click)="addAnalysisAlgorithm()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                    <span class="d-none d-md-inline">Create</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>