@(form : Form[_])

@main("Register a Project | OSSMETER") {
<section>
	<div class="container box">
		<div class="row">
		  	<div class="col-md-12">
				<h1>Register project</h1>
			</div>
		</div>
@helper.form(routes.Projects.postCreateProject,  'role->"form", 'id->"newprojectform") {
		<div class="row">
		  	<div class="col-md-6">
		  		<div class="row">
				  	<div class="col-md-12">
						<div class="form-group">
						    <label for="name">Project Name</label>
						    <input type="text" class="form-control" id="name" name="name" placeholder="E.g. OSSMETER" required>
						</div>
						<div class="form-group">
						    <label for="description">Description</label>
						    <textarea class="form-control" id="description" rows="3" placeholder="E.g. " name="description"></textarea>
						</div>
						<div class="form-group">
						    <label for="homepage">Homepage</label>
						    <input type="url" class="form-control" id="homepage" name="homepage" placeholder="E.g. www.ossmeter.com" required>
						</div>
					</div>
				</div>
				<div class="row">
				  	<div class="col-md-12">
				  		<label>Information Sources</label>
				  		<p>Click the buttons below to add new information sources to the project.</p>
				  		<p>Version Control Systems</p>
			  			<ul class="pagination" id="vcspag">
				  			<li><a href="javascript:addTemplate('vcs-git-template')">Git</a></li>
				  			<li><a href="javascript:addTemplate('vcs-svn-template')">SVN</a></li>
			  			</ul>
				  		<p>Issue Tracking Systems</p>
				  		<ul class="pagination" >
				  			<li><a href="javascript:addTemplate('bts-bugzilla-template')">Bugzilla</a></li>
				  			<!-- <li><a href="">JIRA</a></li> -->
				  			<li><a href="javascript:addTemplate('bts-sourceforge-template')">SourceForge</a></li>
				  			<li><a href="javascript:addTemplate('bts-redmine-template')">Redmine</a></li>
				  		</ul>
				  		<p>Communication Channels</p>
				  		<ul class="pagination">
				  			<li><a href="javascript:addTemplate('cc-nntp-template')">NNTP</a></li>
				  		</ul>
				  	</div>
		  		</div>
			</div>
			<div class="col-md-6" id="sources_list">

			</div>
		</div>
		<div class="row">
		  	<div class="col-md-12">
				@for(err <- form.errors){
					<p>@err</p>
				}
			</div>
		</div>

		<div class="row">
		  	<div class="col-md-12">
				<button type="submit" class="btn btn-primary form-control">Register</button>
			</div>
		</div>
}
	</div>
</section>

<script id="vcs-git-template" type="text/html">
	<div class="panel panel-default" id="source_{{id}}">
	 	<div class="panel-body">
	 		<label>Git Repository</label>
	 		<a onclick="$('#source_{{id}}').remove();" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>
	    	<input type="hidden" name="vcsRepositories[{{id}}]._type" value="GIT">
	    	<div class="form-group">
			    <label for="vcsRepositories_{{id}}_url">URL</label>
			    <input type="url" class="form-control" id="vcsRepositories_{{id}}_url" name="vcsRepositories[{{id}}].url" required />
			</div>
	  	</div>
	</div>	
</script>

<script id="vcs-svn-template" type="text/html">
	<div class="panel panel-default" id="source_{{id}}">
	 	<div class="panel-body">
	 		<label>Subversion Repository</label>
	 		<a onclick="$('#source_{{id}}').remove();" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>
	    	<input type="hidden" name="vcsRepositories[{{id}}]._type" value="SVN">
	    	<div class="form-group">
			    <label for="vcsRepositories_{{id}}_url">URL</label>
			    <input type="url" class="form-control" id="vcsRepositories_{{id}}_url" name="vcsRepositories[{{id}}].url" required>
			</div>
	  	</div>
	</div>	
</script>

<script id="bts-bugzilla-template" type="text/html">
	<div class="panel panel-default" id="source_{{id}}">
	 	<div class="panel-body">
	 		<label>Bugzilla</label>
	 		<a onclick="$('#source_{{id}}').remove();" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>
	    	<input type="hidden" name="bugTrackingSystems[{{id}}]._type" value="BUGZILLA">
	    	<div class="form-group">
			    <label for="bugTrackingSystems_{{id}}_url">URL</label>
			    <input type="url" class="form-control" 
			    	id="bugTrackingSystems_{{id}}_url" 
			    	name="bugTrackingSystems[{{id}}].url"  required/>
			</div>
			<div class="form-group">
			    <label for="bugTrackingSystems_{{id}}_product">Product</label>
			    <input type="text" class="form-control" 
			    	id="bugTrackingSystems_{{id}}_product" 
			    	name="bugTrackingSystems[{{id}}].product" />
			</div>
			<div class="form-group">
			    <label for="bugTrackingSystems_{{id}}_component">Component</label>
			    <input type="text" class="form-control" 
			    	id="bugTrackingSystems_{{id}}_component" 
			    	name="bugTrackingSystems[{{id}}].component" />
			</div>
	  	</div>
	</div>	
</script>

<script id="bts-sourceforge-template" type="text/html">
	<div class="panel panel-default" id="source_{{id}}">
	 	<div class="panel-body">
	 		<label>SourceForge Issues</label>
	 		<a onclick="$('#source_{{id}}').remove();" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>
	    	<input type="hidden" name="bugTrackingSystems[{{id}}]._type" value="SOURCEFORGE">
	    	<div class="form-group">
			    <label for="bugTrackingSystems_{{id}}_url">URL</label>
			    <input type="url" class="form-control" 
			    	id="bugTrackingSystems_{{id}}_url" 
			    	name="bugTrackingSystems[{{id}}].url" required />
			</div>
	  	</div>
	</div>	
</script>

<script id="bts-redmine-template" type="text/html">
	<div class="panel panel-default" id="source_{{id}}">
	 	<div class="panel-body">
	 		<label>Redmine</label>
	 		<a onclick="$('#source_{{id}}').remove();" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>
	    	<input type="hidden" name="bugTrackingSystems[{{id}}]._type" value="REDMINE">
	    	<div class="form-group">
			    <label for="bugTrackingSystems_{{id}}_url">URL</label>
			    <input type="url" class="form-control" 
			    	id="bugTrackingSystems_{{id}}_url" 
			    	name="bugTrackingSystems[{{id}}].url" required />
			</div>
			<div class="form-group">
			    <label for="bugTrackingSystems_{{id}}_name">Name</label>
			    <input type="text" class="form-control" 
			    	id="bugTrackingSystems_{{id}}_name" 
			    	name="bugTrackingSystems[{{id}}].name" />
			</div>
			<div class="form-group">
			    <label for="bugTrackingSystems_{{id}}_project">Project</label>
			    <input type="text" class="form-control" 
			    	id="bugTrackingSystems_{{id}}_project" 
			    	name="bugTrackingSystems[{{id}}].project" />
			</div>
	  	</div>
	</div>	
</script>

<script id="cc-nntp-template" type="text/html">
	<div class="panel panel-default" id="source_{{id}}">
	 	<div class="panel-body">
	 		<label>NNTP</label>
	 		<a onclick="$('#source_{{id}}').remove();" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>
	    	<input type="hidden" name="communicationChannels[{{id}}]._type" value="NNTP">
	    	<div class="form-group">
			    <label for="communicationChannels_{{id}}_url">URL</label>
			    <input type="url" class="form-control" 
			    	id="communicationChannels_{{id}}_url" 
			    	name="communicationChannels[{{id}}].url" required />
			</div>
	  	</div>
	</div>	
</script>


<script type="text/javascript">
	var currId = 0;
	function addTemplate(templateId) {
		var template = $("#"+templateId).html();
		var rendered = Mustache.render(template, {id:currId});
		$("#sources_list").append(rendered);
		currId = currId + 1;
	}
</script>

<script type="text/javascript" src="@routes.Assets.at("js/mustache.min.js")"></script>
}
