<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>


<extension point="org.eclipse.crossmeter.platform.metricprovider">
   <metricProvider provider="org.eclipse.crossmeter.metricprovider.historic.newsgroups.severityresponsetime.SeverityResponseTimeHistoricMetricProvider">
   </metricProvider>
</extension>
<extension point="org.eclipse.crossmeter.platform.visualisation.metric">
   <visualisation json="vis/historic.newsgroups.severityresponsetime.json"/>
</extension>




<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.crossmeter.metricprovider.historic.newsgroups.severityresponsetime.model.NewsgroupsSeverityResponseTimeHistoricMetric"/>
    <class name="org.eclipse.crossmeter.metricprovider.historic.newsgroups.severityresponsetime.model.SeverityLevel"/>
  </extension>
</plugin>
