<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div>
                <nav class="login-logo">
                    <img src="assets/images/CROSSMINER_logo_tagline_side.png" width="600px" />
                </nav>
                <h2>CROSSMINER is an open-source platform for automatically analysing the source code, bug tracking systems,
                    and communication channels of open source software projects.</h2>
            </div>
            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>
            <div class="alert alert-danger" *ngIf="!match">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <form #f="ngForm" novalidate (ngSubmit)="register(f.value)" *ngIf="!success">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="login" [(ngModel)]="login" class="form-control input-underline input-lg" id="login"
                            placeholder="User Name"  #loginInput="ngModel" required minlength="1" maxlength="50" pattern="^[_.A-Za-z0-9-]*$">
                        <div *ngIf="loginInput.dirty && loginInput.invalid">
                            <small class="form-text text-danger" *ngIf="loginInput.errors.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="loginInput.errors.maxlength">
                                This field cannot be longer than 50 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="loginInput.errors.pattern">
                                This field can only contain letters, digits and e-mail addresses.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)]="email" class="form-control input-underline input-lg" id="email"
                            placeholder="Email" #emailInput="ngModel" required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                        <div *ngIf="emailInput.dirty && emailInput.invalid">
                            <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                                This field is required.
                            </small>

                            <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                                This field cannot be longer than 100 characters.
                            </small>

                            <small class="form-text text-danger" *ngIf="emailInput.errors.minlength">
                                This field is required to be at least 5 characters.
                            </small>

                            <small class="form-text text-danger" *ngIf="emailInput.errors.email">
                                Your email is invalid.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="password" class="form-control input-underline input-lg"
                            id="password" placeholder="Password" #passwordInput="ngModel" required minlength="1" maxlength="50" pattern="^[_.A-Za-z0-9-]*$">
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.required">
                                Your password is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.minlength">
                                Your confirmation password is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control input-underline input-lg"
                            id="confirmPassword" placeholder="Confirm Password" #confirmPasswordInput="ngModel" required minlength="1" maxlength="50" pattern="^[_.A-Za-z0-9-]*$">
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                                Your confirmation password is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                                Your confirmation password is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!f.valid"> Register </button>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>