<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div>
                <nav class="login-logo">
                    <img src="assets/images/CROSSMINER_logo_tagline_side.png" width="600px" />
                </nav>
                <h2>SCAVA is an open-source platform for automatically analysing the source code, bug tracking systems, and communication channels of open source software projects.</h2>
            </div>
            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>
        </div>
    </div>
    
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <form #f="ngForm" (ngSubmit)="register(f.value)" *ngIf="!success">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="login" [(ngModel)]="login" class="form-control input-underline input-lg" id="login" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)]="email" class="form-control input-underline input-lg" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control input-underline input-lg" id="confirmPassword" placeholder="Repeat Password">
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!f.valid" > Register </button>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>
