<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.scava.metricprovider.trans.configuration.puppet.designantipatterns.model.DesignAntipatterns"/>
    <class name="org.eclipse.scava.metricprovider.trans.configuration.puppet.designantipatterns.model.DesignAntipattern"/>
  </extension>
<extension
      point="org.eclipse.scava.platform.metricprovider">
   <metricProvider
         provider="org.eclipse.scava.metricprovider.trans.configuration.puppet.designantipatterns.PuppetDesignAntipatternsTransMetricProvider">
   </metricProvider>
</extension>

</plugin>
