<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
  <extension point="org.eclipse.crossmeter.platform.visualisation.metric">
     <visualisation json="vis/historic.bugs.severitysentiment.json"/>
  </extension>
  <extension point="org.eclipse.crossmeter.platform.metricprovider">
     <metricProvider provider="org.eclipse.crossmeter.metricprovider.historic.bugs.severitysentiment.SeveritySentimentHistoricMetricProvider">
     </metricProvider>
  </extension>



<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.eclipse.crossmeter.metricprovider.historic.bugs.severitysentiment.model.BugsSeveritySentimentHistoricMetric"/>
    <class name="org.eclipse.crossmeter.metricprovider.historic.bugs.severitysentiment.model.SeverityLevel"/>
  </extension>
</plugin>
