<form name="metricsForm" >
  <div class="modal-header">
      <h4 class="modal-title">Metrics Providers</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">

    <p-table [value]="analysisTask.metricExecutions" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th scope="col">Metric Provider</th>
                <th scope="col">Last Execution</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-metric>
            <tr>
                <td style="width:60%">{{metric.metricProviderId.split(".")[metric.metricProviderId.split(".").length - 1]}}</td>
                <td>{{metric.lastExecutionDate}}</td>
            </tr>
        </ng-template>
    </p-table>
    
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <i class="fa fa-ban"></i>&nbsp;<span>Close</span>
      </button>&nbsp;
  </div>
</form>
